[2018-08-24 13:53] aegershman opened #239 "tile-metadata throws EOFs on many tiles"
`tile-metadata` throws `could not execute "tile-metadata": failed to decode metadata file: EOF` on a number of `*.pivotal` tiles

![screen shot 2018-08-24 at 8 27 03 am](https://user-images.githubusercontent.com/5619476/44587498-bb97c500-a778-11e8-841d-7f094a0af7c5.png)

Tiles where `tile-metadata` has thrown this exact same EOF error:
- pivotal-rabbitmq-service 1.12.8
- p-spring-cloud-services 2.

[2018-08-24 14:09] mcwumbly commented on #239
Does anything sticks out at you, if you unzip the `.pivotal` files and look in the `metadata/` directory to compare those that are working and those that are not?

[2018-08-24 14:31] aegershman commented on #239
I'm going to do some digging this morning, will edit this comment with anything of note

[2018-08-27 14:15] aegershman commented on #239
Not entirely sure _why_, but I do know that if you swap out [`metadata/.*`](https://github.com/pivotal-cf/om/blob/master/commands/tile_metadata.go#L44) to `metadata/.*yml`, the `tile-metadata` command works fine [in all use cases I've tested](https://github.com/aegershman/om/releases/tag/0.39.1)

[2018-08-27 16:37] chendrix commented on #239
Yep seems reasonable.

[2018-08-27 17:44] chendrix commented on #239
So i tried locally, and changing it to `regexp.MatchString("metadata/.+", f.Name)` also seems to work, and so does running a continue if `f.FileInfo().IsDir()`.

So it looks like it may be matching the `metadata/` directory and attempting to parse it.

[2018-08-27 17:52] #239 closed

[2018-08-27 22:30] aegershman commented on #239
Fantastic, I appreciate it. I hope you'll consider a `0.39.1` release 😉

Thanks again

[2018-08-30 19:01] ljfranklin opened #240 "Intermittent `POST .../api/v0/available_products: EOF` when uploading tile"
We've seen the following error 22 times in the last 45 days:

[code]

We've seen this across multiple tiles (PAS & PASW) and different IaaS (GCP, Azure, AWS) and different OpsMgr versions (2.0-2.3). We initially suspected a recent [PR](https://github.com/pivotal-cf/om/pull/211) which made file uploads more performant but we saw the error a few times prior to merging the PR.

One potential solution

[2018-08-31 02:21] aegershman opened #241 "om relationship to p-automator (if any?)"
As an operator trying to keep our PCF automation as clean & powerful as possible, I like to stay up-to-date on the OSS tools available to me.

[That's why the `pivotal-cf/platform-automation` docs repo caught my eye](https://github.com/pivotal-cf/docs-platform-automation/blob/master/command-reference.html.md.erb#L57). I'm noticing the UX workflows for this mystery `p-automator` binary appear very

[2018-08-31 22:18] fredwangwang opened #243 "features for tile-metadata"
Currently `tile-metadata` supports returning product-name and version of the tile, which would be useful in combination with `stage-product` command. There is more information provided in tile metadata that would be useful for other purposes, for example:

1. stemcell information (stemcell_criteria)
  Would be useful to figure out what stemcell is required to download for the given tile

2. depend

[2018-09-04 16:45] ljfranklin commented on #240
Merged in a PR to add retries on networking failures [here](https://github.com/pivotal-cf/om/pull/242), this feature is available in `om` v0.41.0. Going to optimistically close this out but will re-open if we still see the error.

[2018-09-04 16:47] ljfranklin commented on #241
cc @jtarchie @calebwashburn from the pcf-automation team

[2018-09-04 16:55] aegershman commented on #241
If necessary, we can close this. Our Pivotal contact is Paul Hopper. We have a meeting setup with the Platform Automation team on Monday, Sept. 10th.

[2018-09-04 17:44] jtarchie commented on #241
I'll that will be in the conversation with the team. Please feel free to close this issue.

[2018-09-04 17:46] #241 closed

[2018-09-04 19:53] ljfranklin opened #244 "Feature Request: I can easily pass env vars from my CI config into `om configure-product`"
## Context

With the current `om` feature set, if you need to pass env vars from your Concourse pipeline into `om configure-product`, you have to manually write each env var to a file and then add `--vars-file env-vars.yml`. This makes it difficult to write generic `configure-product` CI tasks.

## A/C

**Given** I've specified environment variables in my CI config, e.g. `params.OM_VAR_some_variab

[2018-09-04 19:55] ljfranklin commented on #244
The PAS RelEng team is considering adding this functionality in the near future.

[2018-09-04 23:14] aegershman opened #245 "Request: more config via env vars"
(Note: this is by no means _critical_, it's mostly for convenience). [This feature request is drawing inspiration from the `pivotalservices/pipeline-utilities` project](https://github.com/pivotalservices/pipeline-utilities#command-usage-1).

In order to pass more configuration via `environment` vars rather than flags, `om` could expand it's list of variables which are configurable via env vars.

[

[2018-09-04 23:30] mcwumbly commented on #245
I agree this makes sense and would be more consistent.

[2018-09-05 15:17] fredwangwang commented on #245
@aegershman it is already supported. See here https://github.com/pivotal-cf/om/blob/f267b28e84a220294be47b8440f3f16c8eb3504c/main.go#L36-L47.

Everything with a yaml tag can be configured in the `env` file. The full list contains:
* client-id
* client-secret
* username
* password
* connection-timeout
* request-timeout
* skip-ssl-validation
* trace

[2018-09-05 15:22] fredwangwang commented on #245
But we haven't documented the supported configurations in the env file. Is it worth adding a section in the root `README` to note what configurations are supported? @mcwumbly

[2018-09-05 16:14] jtarchie commented on #244
@ljfranklin, I don't think there is any conflicting issue with adding this.

The feature just may not work exactly as you expect though, once added.

1. When a environment variable is passed to a task, it must always be defined in the `params` of the task file YAML. There is an open [issue](https://github.com/concourse/concourse/issues/2510) on concourse about this, which will enforce this behavio

[2018-09-05 16:19] jtarchie commented on #244
When you go forward with this feature, I'd request anywhere we have interpolation happening that you add it. For example, `configure-director` has a `--config`, too.

It should hopefully Just Happen™.

[2018-09-05 16:31] ljfranklin commented on #244
Well crap. Added a [comment](https://github.com/concourse/concourse/issues/2510#issuecomment-418794443) describing our use case. I still think there's value in adding this feature even if all the variables must be defined in the task.yml as pipeline authors could supply their own `task.yml` with all the params they need or we could whitelist a bunch of common variables in a shared task.yml. Not id

[2018-09-05 16:41] calebwashburn commented on #244
@ljfranklin In absence of that, this utility was created to help marshal env variables into a yaml file and works with multi-line strings.  https://github.com/pivotalservices/pipeline-utilities/blob/master/commands/environment_to_yaml.go  It would also suffer from the issue above as takes advantage that a generic task gets the params defined in a pipeline (https://github.com/pivotalservices/pipeli

[2018-09-05 16:41] fredwangwang opened #246 "Add Configure-authentication config file support"
Story to unwrap [`configure-authentication`](https://www.pivotaltracker.com/story/show/159974379)

Currently, we have a wrapper around `configure-authentication` to allow the configurations to be passed in using `--config config.yml`. Would like to merge that behavior into `om`.

Proposed changes:
adding a `--config` flag which takes configuration file for auth.

File format: replicate flat flag s

[2018-09-05 17:06] jtarchie commented on #244
The Concourse team is open for a [feature request](https://github.com/concourse/concourse/issues/2510#issuecomment-418804096) about allowing All the Params™.

[2018-09-05 17:37] heycait commented on #240
This is still an issue. Currently seeing it in IST2.0 and ERT next on GCP.

[2018-09-05 20:36] aegershman opened #247 "Raise default connection/request timeouts"
Note: this is non-essential. Purely for convenience & kind of a greedy use-case. But nonetheless--

[In order to account for slower environments, `om` could consider higher default values for `connect-timeout` (5s) and `request-timeout` (1800s).](https://github.com/pivotal-cf/om/blob/master/main.go#L40)

[code]

[2018-09-05 20:41] aegershman opened #248 ""Secondary" ready-only user for opsmgr on apply-changes"
As a PCF operator, I use Concourse to manage opsmgr changes. `Apply-changes` can take quite some time. Because the logged-in opsmgr Concourse bot user must have admin privileges to trigger the `apply-changes`, and because only one admin can be logged in at once, if anyone logs in to the opsmgr while Concourse is performing `apply-changes`, the job will fail.

Therefore, I'm imagining a "secondary"

[2018-09-05 22:04] kcboyle opened #249 "Add configure-saml-authentication config file support"
Story to unwrap configure-saml-authentication

Currently, we have a wrapper around configure-authentication to allow the configurations to be passed in using --config config.yml. Would like to merge that behavior into om.

Proposed changes:
adding a --config flag which takes configuration file for auth.

File format: replicate flat flag structure
example:

idp-metadata
bosh-idp-metadata
rbac-admin

[2018-09-05 22:10] kcboyle opened #250 "Allow the product_name to be read in from the config file in configure-product"
Story to unwrap configure-saml-authentication

Currently, we have a wrapper around configure-product to allow config file to contain the product name using --config config.yml. Would like to merge that behavior into om.

Proposed changes:
add the ability to read the `product-name` from a provided `--config` file if the field is present

Intended behavior:
`--product-name` will always set the produ

[2018-09-05 22:15] kcboyle opened #251 "allow import-installation to take a config file"
Story to unwrap import-installation

Currently, we have a wrapper around import-installation to allow the configurations to be passed in using --config config.yml. Would like to merge that behavior into om.

Proposed changes:
adding a --config flag which takes configuration file for auth.

File format: replicate flat flag structure

Intended behavior:
`--decryption-passphrase` will always set the

[2018-09-05 22:32] ljfranklin commented on #250
Just to make sure, the plan is to leave the existing `--product-name` flag as it but make it optional in which case the file passed via `--config` should contain a `product_name` key. Else raise an error. Does that sound right?

Also question about naming consistency. Looks like all our existing config keys use a hyphen: https://github.com/pivotal-cf/om/blob/master/config/config.go. Should `produc

[2018-09-05 22:40] ljfranklin commented on #251
@kcboyle I'm a little confused by your description. To match the format of the other issues y'all opened, I'd expect this feature would allow you to specify `import-installation --config config.yml` as an alternative to the following flags:
- `decryption-passphrase`
- `installation`
- `polling-interval`

The config file would look something like this (your example had placeholders which I'm not su

[2018-09-06 00:59] ljfranklin commented on #248
@aegershman interesting, didn't know that OpsMgr only allowed one logged in Admin user. Rather than passing the `apply-changes` command multiple users, I wonder if invoking multiple commands with different users is a bit cleaner. We already have `om installation-log --id SOME_ID` which could be passed a read-only user. Maybe `om` could add an `om apply-changes --no-tail` or similar which returns o

[2018-09-06 01:51] aegershman commented on #248
Hm. I'm pretty sure only one admin can be logged in at once & multiple "read-only" users could be logged in as well, but could be completely wrong...? From the opsmgr 2.2.4 doc under `sessions`:

[code]

<img width="543" alt="screen shot 2018-09-05 at 8 39 46 pm" src="https://user-images.githubusercontent.com/5619476/45129894-e6582500-b14b-11e8-80a5-0437059dd76b.png">

Actually, to be entirely hon

[2018-09-06 22:48] jtarchie commented on #251
That is correct. We missed it when writing it.

@ljfranklin: We have a [proposal](https://github.com/pivotal-cf/jhanda/issues/9) for `jhanda` that might make all these config file issues easier to do.

[2018-09-06 23:07] acrmp commented on #244
We opened a PR to add support for `--vars-env` in #253.

[2018-09-06 23:09] acrmp commented on #233
We PR'd some documentation around the interpolation in #253.

[2018-09-07 01:31] kkallday commented on #233
Cool thanks @acrmp

[2018-09-07 01:31] #233 closed

[2018-09-07 08:12] mcwumbly commented on #251
I don't have a good feel for whether this belongs in here, or if it'll take some time to gain alignment on the design.

But **if** it's feeling like it's going to take time to hash out the design or decide, one option in the short term may be to first wrap jhanda in`om` to add this behavior for now.  That could solve the `om` problem of centralizing this responsibility and then offer a reference i

[2018-09-07 20:42] acrmp commented on #244
Closing this as #253 has been merged.

[2018-09-07 20:42] #244 closed

[2018-09-07 22:15] jtarchie commented on #208
Assign the issues/stories! We are doing. It is working.

[2018-09-10 01:53] jtarchie commented on #247
Any recommendations?

[2018-09-10 01:55] jtarchie commented on #248
It is not clear to me how to _log out the admin_ after hitting apply changes. The fact that `om` logs in everytime speaks more to the user flow @ljfranklin described.

[2018-09-10 15:34] fredwangwang commented on #250
Yes. This is exactly what we were thinking.

And yes, we will name the key `product-name` instead of `product_name` for consistency.

[2018-09-10 18:09] anEXPer commented on #237
The only thing that stands out to me here as deserving of update is to say "in the command line, and especially in CI systems such as Concourse", honestly.

It _is_ pretty small and sharp comparatively - for instance, this design goal is part of what prevents us trying to put logic for managing the OM manager itself into the tool.

I'm not sure support of `om` as a library is something we should e

[2018-09-10 22:28] chendrix opened #255 "Extract and share CI"
The @pcf-platform-automation and @pivotal-cf/pcf-release-engineering teams met up to discuss how we want to share ownership of `om` in the future.

One of the things that needs to happen is to share CI, both the code (pipelines, tasks, docker images) and the CI environment itself.

After discussion, we added a new `om` team to https://releng.ci.cf-app.com and gave access to both teams.

We also ca

[2018-09-10 22:40] chendrix commented on #255
The @pivotal-cf/pcf-release-engineering team looked into using toolsmiths environments, and found this out:

* GCP pooled environments are an option, and we could follow [this doc](https://docs.google.com/document/d/1afCL7hgFeQ61orx6Z5bP49xauE753n5eSZPuO5bWJeY/edit) to get a worker and have access to the concourse resource. **However**, because this pooled environment already comes with an install

[2018-09-10 22:45] fredwangwang commented on #255
The @pivotal-cf/pcf-platform-automation team took a brief look at the local Opsman option. In order to do that, we need to have a virtual box setup in the ci worker so that the ci can talk to. And each time we start the ci task a new virtual box installation needs to be done, which feels like overkill. This would also take a very long time.

[2018-09-11 15:37] anEXPer commented on #255
Our (alpha) commercial product has a tool for that which works pretty reliably (`p-automator create-vm`).

[2018-09-11 15:45] jtarchie opened #256 "`staged-director-config` does not handle `iaas-configurations`"
In newer versions of OM (2.2+), there is support for configuring multiple IAASes. The command `staged-director-config` does not export the `iaas-configurations` against one of these OMs.

[2018-09-11 15:51] fredwangwang commented on #256
right now `staged-director-config` only takes `iaas-configuration` from `/api/v0/staged/director/properties`, which works fine if there is only one iaas configured. However, as it shows in the [docs](http://docs.pivotal.io/pivotalcf/2-2/opsman-api/#Staged%20BOSH%20Director):

We need to add this support for this Opman feature with api endpoint `/api/v0/staged/director/iaas_configurations`

[2018-09-11 19:27] aegershman commented on #247
I completely lied on the `request-timeout`, I'm sorry. I suppose it's really only `connect-timeout` that we've ever seen any problems with. `1800s` is 30 minutes.

We've found that a `connect-timeout` of `30s` is quite sufficient.

[2018-09-11 19:27] fredwangwang commented on #255
@chendrix

as you said if we are using this option we cannot cover configure-authentication. Although that's generally not a problem as we have iaas-specific ci to cover that part everyday, it is bad for visibility for both teams.

this would work for us. using `terraforming-vsphere` to pave the infrastructure together with our tool to create vm would not be that hard to set up.

even if we are us

[2018-09-11 19:32] aegershman commented on #248
I don't think I've done quite enough research/testing/validation into this on my own to justify an actual use-case. I'll close this. Thanks for your time and consideration.

[2018-09-11 19:32] #248 closed

[2018-09-11 20:27] ljfranklin commented on #255
@fredwangwang general rule of thumb at Pivotal is all new projects use GCP as our vSphere environments are severely limited hardware-wise. Unless we are testing vSphere-specific functionality in the `om` pipeline, we should probably be using GCP. As `om` is just a thin wrapper around the OpsMgr API I don't think we need to concern ourselves with testing multi IaaS in CI.

[2018-09-11 20:46] fredwangwang commented on #255
@ljfranklin I didn't know that... seems like gcp would be a better fit then.

[2018-09-12 22:14] jtarchie commented on #247
This reflects the changes that were made to the `cf` CLI 2 years ago. I'd accept a PR for that change. /cc: @ljfranklin @mcwumbly ???

[2018-09-12 23:01] chendrix commented on #255
We've moved over the unit testing and are trying our hand at moving over the PR testing. It is currently failing, maybe because we cannot use the pullrequest resource with a deploy key?

Still open questions on what to do re acceptance testing.

[2018-09-12 23:55] jtarchie commented on #255
I'll look into it. I am fairly sure a deploy key can be used.

[2018-09-13 17:03] ljfranklin commented on #247
@jtarchie where are you seeing the CF CLI defaulting to 30 seconds for connect timeout? I'm seeing 5 seconds: https://github.com/cloudfoundry/cli/blob/79ffcb19cd342262a4cad4fb25e4f4cd71f4b3e0/cf/net/gateway.go#L31.

I'm not necessary opposed to bumping the connect timeout to 30 seconds, although I worry it's mostly a bandaid over a busted network. If it takes over 5 seconds to complete the TLS han

[2018-09-13 17:16] ljfranklin commented on #247
Just realized `om` already allows you to config the dial timeout:

[code]

Given that it's configurable if you know your network is slow and we recently added retries around networking errors, I'm in favor of closing this out without changing the default. Main reason is I don't want it to take 90 seconds (two retries by default) to find out you messed up your firewall rules to your OpsMgr VM.

[2018-09-13 17:49] jtarchie commented on #255
You're absolutely right! The deploy keys are the SSH keys for a specific repo, not an access token for a specific repo. I messed that up, because I totally forgot about it. 😢

You do need to create an access token.

It needs to have `repo` and `repo:status` permissions. Those are documented there.

Sorry for the delay.

[2018-09-13 18:03] mcwumbly commented on #247
I agree @ljfranklin , and I think addressing this other issue will help for those with persistently busted networks: https://github.com/pivotal-cf/om/issues/245

[2018-09-13 18:03] #247 closed

[2018-09-14 20:10] fredwangwang commented on #224
merged

[2018-09-14 20:10] #224 closed

[2018-09-17 15:33] fredwangwang opened #258 "Providing extra fields in an env file tries to translate all values to flags"
command:
[code]

our config.yml has the following properties
[code]

Use case:
Since `configure-authentication` shares `username` & `password` fields in the `env file`, we want to just provide one file that can be used in both places. But since `env file` contains `target` and `skip-ssl-validation`, which are not recognized by `configure-authentication, it triggers the above error.

Proposal:
Igno

[2018-09-17 15:46] ljfranklin commented on #258
Classic UX question, do you error on unknown fields or not? As you're describing allowing unknown fields allows you to simplify things in CI. Also sometimes makes upgrades easier as a single config file can be used in both old and new envs as long as you can add new keys which the old env ignores. However, I've been bitten countless times by typoing a property or nested under the wrong key in BOSH

[2018-09-17 15:55] ljfranklin commented on #258
A more specific example, you run `configure-product` with a config file containing the key `product_network` which you accidentally gave an underscore rather than a hyphen. Instead of failing with "unknown key", your CI task goes green but silently fails to configure the network. You now get even more confusing errors as your next CI job fails due to the tile not being fully configured.

[2018-09-17 15:59] fredwangwang commented on #258
That's true, as we talked about the potential solution, we realized that the error message is actually a valid one, fixing this 'bug' feels like a hack 😞. So we wanted to open up an issue to discuss with you guys first before we brute forced it to make it work.

An alternative might be to go through some effort and ignore flags from the env file, but, again, might be more of a hack(or at the very

[2018-09-17 16:04] fredwangwang commented on #258
Something to note and/or fix:
the `--env` flag is handled by the yaml unmarshal (not jhanda like the above issue)

the behavior for `--env` does actually ignore unknown fields. If we'd like to keep the experiences the same, should we enforce this same behavior?

[2018-09-17 16:15] ljfranklin commented on #258
Having `--env` using the same parsing logic as all the nested commands seems like a good thing to do.

[2018-09-18 16:41] joshzarrabi opened #259 "Om should be able to hit the opsman `variables` endpoint."
We want to grab a credhub generated variable from our tile, which we had to do by hitting the following endpoint directly:`api/v0/deployed/products/product-guid/variables?name=our-variable`. We believe that there should be an `om` command to get this for us, something like: `om variable -v our-variable` which will return `some-value`.

We believe this will be useful in the use case of our tile, wh

[2018-09-18 18:37] jtarchie commented on #207
@sadvani and @mcwumbly, are you able to review the PR from @calebwashburn. I've been able to see that the code works, but I don't have a way (or knowledge) on how reproduce this issue.

[2018-09-19 21:00] daviddob commented on #180
Any updates on this front? PR was submitted about a month ago and haven't heard anything regarding it.

[2018-09-20 00:12] ljfranklin commented on #180
@daviddob sorry about that, we've been in the process of shifting some of the maintenance responsibilities of this project over to the pcf-automation team. This looks to have gotten lost in the shuffle. @jtarchie @kcboyle would someone from your team have bandwidth to review the PR?

[2018-09-20 00:32] daviddob commented on #180
All good, I figured things got busy on your end and should check in.

[2018-09-21 16:38] fredwangwang opened #261 "retrieve errand for `staged-config`"
`configure-product` is now able to set the errand state for the given product, but its counterpart `staged-config` could not retrive errand.
It makes sense that `staged-config` would output the errand info as well.

Format:
to match the input format of `configure-product`, the errand section should look like:
[code]

it is for the use case:
`staged-config` (from one foundation)-> `configure-produc

[2018-09-26 17:15] jtarchie commented on #192
@mcwumbly: We are closing this since our initial PR has been merged. We will close and open other issues if there needs to be more work done.

[2018-09-26 17:15] #192 closed

[2018-09-26 17:18] jtarchie opened #266 "make retries configurable"
Retries seem to have solved an issue, as I've not heard about the upload being an issue anymore.

It has also enabled a longer feedback loop.

I'd like to introduce `--retry-count` and `--retry-delay` so these can be tweaked for CI systems.

/cc: @ljfranklin

[2018-09-26 21:13] ljfranklin commented on #266
Sounds reasonable, adding the `pr welcome` label

[2018-09-26 22:10] mcwumbly commented on #266
just a thought to consider... maybe instead of adding a flag for `--retry-delay` it's all driven by `--retry-count` which could just include some kind of explonential backoff between retries?

[2018-09-27 17:27] conzetti opened #267 "staged-director-config on Azure returns HTTP/405 Method Not Allowed"
**TL;DR**
Running `staged-director-config` against Azure-based Operations Manager results in a HTTP/405 (method not allowed).

[code]

**Steps to reproduce**:
[code]

**Expected results**:
Director configuration to STDOUT

**Actual results (+trace)**:
[code]

[2018-09-27 20:36] fredwangwang commented on #267
@ljfranklin we are going to pick this issue.

Since azure doesn't have available zones support, so it is unreasonable to error out on an expected behavior. Our proposed solution is to swallow the error and handle it gracefully by not including the az section in the payload.

[2018-09-27 22:56] #267 closed

[2018-09-27 22:57] jtarchie commented on #267
@conzetti: Can you use `master` and see if that resolves for you?

[2018-09-28 03:39] jtarchie commented on #144
@agregory999, is this still an issue?

[2018-09-28 15:34] jtarchie commented on #251
Delivered!

[code]

[2018-09-28 15:34] #251 closed

[2018-09-28 15:35] jtarchie commented on #258
After discussing with @ljfranklin, we are going to try and consolidate the config logic between `--env`, `--config`, and `--config` on product/director.

[2018-10-01 19:42] fredwangwang commented on #249
Closing this, as the PR is already merged in this commit: https://github.com/pivotal-cf/om/pull/252/commits/c14dc24b30cd319327166e124c8402bcb10698f2

[2018-10-01 19:42] #249 closed

[2018-10-01 19:43] fredwangwang commented on #246
Closing this, merged.

[2018-10-01 19:43] #246 closed

[2018-10-01 21:03] sadvani commented on #207
@mcwumbly @jtarchie @calebwashburn is this issue fixed?

[2018-10-01 21:27] calebwashburn commented on #207
@sadvani Believe so

[2018-10-01 21:27] fredwangwang commented on #207
yes, this pr https://github.com/pivotal-cf/om/pull/227 has been pulled in. We validated using @calebwashburn's gist. Do you still see a problem?

[2018-10-01 21:27] anEXPer opened #268 "all auth'd commands should optionally take the decryption-passphrase"
We'd like the env information `om` uses for all its authorized commands to optionally include the decryption passphrase, so that if the Ops Manager has been restarted, commands can still work.

This is a little bit of a counter-intuitive or maybe too-clever idea, so we want to lay out what we're thinking very clearly.

1. Any time the Ops Manager VM is restarted, it needs to be decrypted before it

[2018-10-01 21:44] ljfranklin commented on #268
Sounds interesting! To double check, the proposed workflow is:

- the global decryption-passphrase is optional for all commands
- if the OpsMgr is already running/decrypted, the decryption-passphrase is unused
- if a request is made to an OpsMgr which is "locked", `om` will transparently unlock it if the decryption-passphrase was provided
- if a request is made to an OpsMgr which is "locked" and t

[2018-10-01 21:50] anEXPer commented on #268
Yes, you have accurately described what we want to do.

[2018-10-01 23:27] sadvani commented on #207
Perfect, thanks so much @calebwashburn @fredwangwang.

Is there a specific version of OM that I should tell the customer to upgrade to?

[2018-10-02 03:49] fredwangwang commented on #207
master, there is no release cut since the fix introduced.

[2018-10-02 20:38] zmb3 opened #269 "Curl service does not allow clients to close the response body"
## The Problem

The curl service returns an output struct containing an `io.Reader` which is the HTTP response body.

Since the body is passed as a reader, there is no [easy] way to close it.  It's important to close response bodies in Go for two reasons:

1. If not closed, the file descriptor leaks.
2. The HTTP client cannot reuse the connection for subsequent requests.

This is not a major issue

[2018-10-04 02:09] jtarchie commented on #269
Are you experiencing an issue with this? Or have you seen an error?

[2018-10-05 17:46] fredwangwang opened #270 "add config file support for upload-product"
related to our unwrapping story: https://www.pivotaltracker.com/story/show/160566798

currently `p-automator upload-product` allows a flag `-c` to accept a file containing optional shasum & version validation.
There are existing patterns in `om` that we can supply any supported commandline flag through the config file, we would like to extend that behavior to `upload-product` as well.

Sample conf

[2018-10-05 18:00] fredwangwang opened #271 "add `product-name` to the config generated by staged-config"
configure-product is able to take `product-name` from the configuration, however, its counterpart staged-config does not output product-name to the config generated.

We want to add the ability to have product-name in the generated config from `staged-config` command.

[2018-10-05 18:01] fredwangwang commented on #271
generated config would looks like:

[code]

[2018-10-05 19:03] mcwumbly commented on #270
do we expect that algorithm to change or are multiple algorithms supported? maybe something like this?

[code]

[2018-10-05 19:39] fredwangwang commented on #270
Currently only one sha check is implemented, that is sha256. It is the checksum provided on pivnet, which is also the reason we chose this particular algorithm (so people don't have to calculate them own).
So in regarding multiple algorithms, maybe? I can see a use case for supporting other algorithms (e.g. md5, as it is cheaper), so it's your call.

But for the file structure, I would oppose havi

[2018-10-05 19:52] #271 closed

[2018-10-05 20:38] mcwumbly commented on #270
in that case I propose we:

1. change the current flag from `--shasum` to `--sha256` and drop the short name.
2. use `sha256:` as the key in the config file.

no better time than now to make breaking changes, imho.

[2018-10-05 20:39] fredwangwang commented on #270
doing it!

[2018-10-08 15:30] fredwangwang commented on #268
We're going to start working on a PR for this.

[2018-10-08 15:43] anEXPer commented on #268
We're discussing how to handle the fact that `--decryption-passphrase` is currently required as a command argument by `import-installation`.

We think ideally, we'd keep the interface consistent, and use it as a global flag - but in the case of `import-installation`, the typically-optional flag would be required. In this scenario, we'd remove any command-specific mention of the flag, which would b

[2018-10-08 15:55] ljfranklin commented on #268
I'm fine with making a breaking change in this case, we'll just need to make sure to document the change in the release notes. A single global flag that is required for `import-installation` but optional otherwise sounds good to me.

[2018-10-09 17:53] #270 closed

[2018-10-09 19:57] jtarchie commented on #256
It appears that `iaas-configuration` also returns `guid`s. We'll need to do that trick to sync them up, so they don't override each other.

[2018-10-09 22:12] fredwangwang commented on #268
The PR's merged! Thanks.

[2018-10-09 22:12] #268 closed

[2018-10-10 19:54] jtarchie commented on #226
It looks like there is no way to programmatically do this.

The OpsMan API returns a payload that looks like this:

[code]

We'd need to the `name` of the selected value to be able to do things.

So it would be nice if the OpsMan API returned.

[code]

[2018-10-10 22:37] fredwangwang commented on #269
Hi @zmb3, with this commit 87ce807, do you still experience any issues about `curl`?

[2018-10-10 23:36] zmb3 commented on #269
That works - though I’d recommend documenting that the caller must close the body because we’ve pushed that responsibility out.

[2018-10-15 15:40] jtarchie commented on #235
Merged.

[2018-10-15 15:40] #235 closed

[2018-10-15 15:42] jtarchie commented on #261
merged

[2018-10-15 15:42] #261 closed

[2018-10-15 15:43] jtarchie commented on #250
merged

[2018-10-15 15:43] #250 closed

[2018-10-15 15:45] fredwangwang commented on #240
this is identified as a network issue, and we found the retry client probably wont work for uploading case since the payload would not be complete on the second try.

@ljfranklin are we able to close this issue?

[2018-10-15 15:54] ljfranklin commented on #240
@fredwangwang agreed the initial retry client PR doesn't help the issue. But we still see this issue frequently in our CI and would like to fix it. I moved our story up in our backlog to take another look: https://www.pivotaltracker.com/story/show/160181845

[2018-10-15 15:57] fredwangwang commented on #196
merged

[2018-10-15 15:57] #196 closed

[2018-10-15 16:00] jtarchie commented on #269
@zmb3, I don't know if `om` has made an official contract to be a library and a CLI. Its intention has been a CLI for awhile.

Where you are using `om` as a library where _documenting_ this would be obvious?

[2018-10-15 16:02] jtarchie commented on #144
Since `configure-bosh` is being [removed in this PR](https://github.com/pivotal-cf/om/pull/263) and `configure-director` can handle this property, I'm going to close this issue.

[2018-10-15 16:02] #144 closed

[2018-10-15 16:06] jtarchie commented on #159
Would this make more sense as just be apart of `configure-product`? That way the intentions of a product are in one configuration file.

[2018-10-15 16:08] fredwangwang commented on #266
@ljfranklin since retry client is not working properly, do we want to remove it altogether and consider adding it back later if we really need it?

[2018-10-15 16:10] ljfranklin commented on #266
We'll hopefully take another pass at it this week, but if you want to revert that commit now that's fine.

[2018-10-15 16:35] zmb3 commented on #269
Ah, in the godoc for `api.Curl`.  Kind of like how Go's http package does:

[code]

[2018-10-15 16:40] fredwangwang commented on #266
Would keep it then

[2018-10-15 16:42] fredwangwang commented on #236
handled in this pr: https://github.com/pivotal-cf/om/pull/262

[2018-10-15 16:43] #236 closed

[2018-10-16 21:09] acrmp opened #274 "Error when configuring product collection that does not contain a "name" property"
As of this commit: https://github.com/pivotal-cf/om/commit/d61ff351a1d662068cdccb7aeaa1659ae0692877

We are now getting the following error:
[code]

It seems like the code assumes all collections contain a `name` property blueprint.

CC @jpalermo

[2018-10-16 21:10] ljfranklin commented on #240
Additional context in this slack convo: https://pivotal.slack.com/archives/C5V956L13/p1539014781000100

[2018-10-16 21:45] jtarchie commented on #274
The code added in d61ff351a1d662068cdccb7aeaa1659ae0692877 assumes that collections always have a `name` property. The idea was that `name` could be tied back to the `guid` based on the uniqueness of the element in the collection.

This is bad assumption. As @acrmp experienced.

There are collections that don't have elements with the `name` property and they explode.

We should probably revert thi

[2018-10-16 21:57] jtarchie commented on #207
@sadvani: I think we might have to revert this change. An issue #274 shows that we cannot rely on a collection having a `name` property to match with the `guid`. We don't have any guarantees with a collection that there is uniqueness on a single property of a collection. This broke other collections.

We might have to be _stronger_ on this an enforce the any element on a collection that has to be

[2018-10-17 15:36] anEXPer opened #275 "`tile-metadata` should probably be `product-metadata`"
The `tile-metadata` command is the only place in om we refer to products as tiles. It even takes a `--product-path`!

We should rename it, but this would be a breaking change.

[2018-10-17 19:29] fredwangwang commented on #259
There is an existing command in `om` called `credentials` which basically does the same thing but targets the different endpoint. So follow the pattern of that command is probably a good idea:
[code]

which can be executed as `om credentials -p product -c some.field -f private_key_pem`

So a similar command for `variables` would be nice.

[2018-10-17 19:32] joshzarrabi commented on #259
We will work on a p-r for this, thanks!

[2018-10-17 20:04] anEXPer commented on #237
So we're actually coming back to this and thinking shifting the design goals further might be a good idea. In particular, as we're working to understand how best to automate interactions with pivnet, it's increasingly seeming like consumption-side pivnet functionality could be useful. And the value of having the entire IaaS-specific vm-management side of things sequestered in the now-oddly-named `

[2018-10-17 22:49] anEXPer commented on #207
@dsboulder I understand you're currently backing @sadvani up as Ops Man PM. Any thoughts on this?

[2018-10-19 15:30] patrick-huber-pivotal opened #276 "add ldap authentication support"
opsman 2.3 api supports ldap authentication https://docs.pivotal.io/pivotalcf/2-3/opsman-api/#setting-up-with-ldap

It would be nice to have this in the cli as an authentication method similar to saml and internal.

https://github.com/pivotal-cf/om/blob/master/docs/configure-authentication/README.md
https://github.com/pivotal-cf/om/blob/master/docs/configure-saml-authentication/README.md

[2018-10-19 15:46] fredwangwang opened #277 "go mod"
Do we want to use vgo?

[2018-10-21 01:07] patrick-huber-pivotal commented on #277
Looks like you just need to update the go version to 1.11 to take advantage of modules

https://github.com/golang/go/wiki/Modules#quick-start-example

[2018-10-21 01:09] patrick-huber-pivotal commented on #275
You could add an alias, and mark it as deprecated then remove it in a future release.

[2018-10-22 16:49] jtarchie commented on #276
@patrick-huber-pivotal, thanks for bringing this to our attention. We'd welcome a PR on this.

[2018-10-22 17:04] kcboyle commented on #274
We've been discussing. The path forward is going to be.

1. Reverting this feature/commit (d61ff35)
2. Document that if a collection requires persistence (such as a Service Plan definition) the `guid` is required or you are going to have a bad day.
3. Return the `guid` always when using `staged-config` for collections. We are going to confirm if other properties get guids, too to decide if there i

[2018-10-22 17:10] mcwumbly commented on #237
It's an interesting idea, but I think it might make sense to at least _consider_ approaching this problem a little differently.

I can see the value in having a single CLI that meets the needs of the workflows that you want to enable, but perhaps neither `om` nor `pivnet` should simply grow into the CLI, but rather export the necessary library functions for this new uber-CLI to consume to serve th

[2018-10-22 19:01] fredwangwang commented on #237
Currently we are taking the approach of using `p-automator` to manage the lifecycle of OpsManager VM itself, but having `om` to take care of other things.

We are planning to add `download-product` into `om`, which allows to download the tiles and corresponding stemcells from pivnet. Clearly it starts to break the philosophy of **small sharp tool**, but on the other hand `om` can handle more stuff

[2018-10-23 16:46] mcwumbly commented on #237
Perhaps it's worth addressing this question explicitly as well, given recent conversations (from the original post):

I think some consideration should be given to the different (emergent) design pressures that stem from the "om as library" use case vs. the "om as ops manager swiss army knife".

[2018-10-24 13:38] sandyg1 opened #278 "om staged-director-config does not work on Azure"
This error is Azure specific.
Is there any other way to get the config?

[code]

[2018-10-24 13:39] sandyg1 commented on #278
Using Opsman 2.3.1 on Azure

[2018-10-24 13:42] sandyg1 commented on #278
Looks like a dup of https://github.com/pivotal-cf/om/issues/267

[2018-10-24 13:50] sandyg1 commented on #278
Issue is fixed in the build I did with current code. Thanks @jtarchie

[2018-10-24 13:50] #278 closed

[2018-10-24 22:02] jtarchie commented on #274
@acrmp and @jpalermo, we might have a fix for the issue above on fcdd32e7dfb45dec5219fb8b3404f2246b58cbf7. Are you able to try it out and see if it resolves your issue?

[2018-10-25 17:30] jtarchie commented on #221
Closing as the two PRs were merged in.

[2018-10-25 17:30] #221 closed

[2018-10-29 14:47] kcboyle commented on #274
@acrmp @jpalermo Just doing a gentle nudge/follow-up to test if your issue is fixed. Please let us know!

[2018-10-29 14:48] kcboyle commented on #202
@thagh05t was the fix addressed in #173 sufficient to solve your issue?

[2018-10-29 15:01] kcboyle commented on #220
In `om`, this would likely be something that we had to maintain per-iaas and (potentially) per-version of OpsManager. After multiple conversations with the Ops Manager team, we're not getting a lot of hope for these missing fields being included in the OpsMan API any time soon.

1. One way to do this would be to run `staged-director-config`, key off of some unique field in the iaas (that allowed u

[2018-10-29 15:02] kcboyle commented on #220
@sadvani Could you potentially weigh in on this conversation? we have discussed this issue before in person.

[2018-10-29 21:42] fredwangwang opened #281 "add command `associate-stemcell`"
If `upload-stemcell --floating=false` is used, currently there is no easy way to associate the stemcell with the product.

So it would be nice to have the command `associate-stemcell` added to `om`.

### proposed command & arguments:
[code]

usage 1:
[code]

usage 2:
[code]

### How it works internally:
1. It will get the information from `/api/v0/stemcell_assignments`,
sample payload:
[code]

2.

[2018-10-29 21:54] anEXPer commented on #281
I like the idea, but I've got two ideas for reducing the config complexity:
1. `--stemcell` can take `latest` as an argument. This matches the behavior of bosh manifests and eliminates the need for `--latest-available-stemcell`.
2. `latest` (in either form) is the default behavior. Presumably, if you've uploaded a newer compatible stemcell with `float: false`, and now you're saying "associate a st

[2018-10-29 21:59] mcwumbly commented on #281
given the endpoint name
[code]

what do you think about using the command name `assign-stemcell` instead of `associate-stemcell`?

[2018-10-29 22:00] fredwangwang commented on #281
nothing particularly, I got the command name from here: http://docs.pivotal.io/pivotalcf/2-2/opsman-api/#associate-stemcells-to-products

[2018-10-30 16:42] aegershman commented on #159
@jtarchie ah to be honest, I'm not sure. My gut reaction is to keep it as separate commands so there's more flexibility for people to use the command in tasks which are purpose-specific for just associating a stemcell to a product? It's sort of a "building block command", and having the functionality exposed as a separate command makes sense to me.

On the one hand, if we had this functionality we

[2018-10-30 16:42] #159 closed

[2018-10-31 01:59] acrmp commented on #274
It seems to have fixed the issue for our usage. Thanks.

[2018-10-31 01:59] #274 closed

[2018-10-31 17:10] jtarchie opened #283 "`apply-changes` does not reconnect when dial timeout occurs"
When we were using `apply-changes`,
The installation logs endpoint disconnected for us,
And `apply-changes` did not try to reconnect.

The error message:

[code]

[2018-10-31 17:56] jtarchie commented on #283
This looks to have happened because:
* retry logic was removed
* auto-decrypt passphrase happened on every HTTP request

We have a fix going through, which only does an auto-decrypt passphrase on the first HTTP request. And on success, just does normal HTTP requests, without performing another auto-decrypt.

[2018-10-31 22:03] jtarchie commented on #283
Fixed!

[2018-11-01 22:49] jtarchie commented on #283
I lied it is not fixed. The error still occurs, just less frequently.

We are going to create a retry mechanism just for this feature.

[2018-11-06 18:39] dsboulder commented on #207
I validated that if collection records as passed with a "guid" field, then those existing records will be found and updated.  Otherwise we'll consider them new records (and delete any unmatched-by-guid records at the end).

[2018-11-12 17:16] drduker opened #284 "feature request - "latest" release option"
It would be nice if pivnet and om-linux command tools had the option to pass “latest” to --product-version or the -r for the release version.  Otherwise we have to search for all versions and head -n1 and then continue.

This would be applied here:
pivnet release-dependencies -p ${PRODUCT_NAME} -r **latest**

**AND** everywhere else the "release"/"-r" parameter is used.

Current simplest way I kno

[2018-11-12 18:04] drduker opened #285 "feature request - om download-product --accept-eula"
Feature request - om download-product --accept-eula
Please add the "--accept-eula" parameter to the download-product options.

pivnet cli has this implemented:
pivnet-cli download-product-files -p "$product_slug" -r $STEMCELL_VERSION -g "*${IAAS}*" --accept-eula

by the way the pivnet-resouce (https://github.com/pivotal-cf/pivnet-resource) never had this option even though it could be scripted man

[2018-11-13 22:42] jtarchie commented on #285
@drduker, I believe this feature is only available for Pivotal employees. This is why it was not added initially, as non-Pivotal users would be confused by its usage.

[2018-11-14 03:38] aegershman commented on #285
(https://github.com/pivotal-cf/pivnet-resource/issues/74#issuecomment-302082241)

[2018-11-14 22:03] fredwangwang commented on #266
retry client removed from the code base, closing

[2018-11-14 22:03] #266 closed

[2018-11-14 22:06] fredwangwang commented on #284
which om command in particular?

And for pivnet-cli params, probably it's better to open an issue at pivnet-cli repo to have a broader discussion. We do not maintain pivnet-cli.

[2018-11-15 02:19] drduker commented on #284
Ok, but I'm asking for the same type of feature with om.  I didn't open it on pivnet-cli because i think om is the future!

[2018-11-16 00:17] jtarchie commented on #285
I'm going to close this based on the verification of the Pivnet team.

[2018-11-16 00:17] #285 closed

[2018-11-16 20:21] crhino opened #287 "Feature Request - om should return error messages when a product manifest cannot be generated"
We ran into a situation where our tile was not fully configured (missing the stemcell version), and had trouble diagnosing the problem using `om staged-manifest -p pivotal-mysql` because it just returned null and exited successfully.

Looking at the OpsMan api `/api/v0/staged/products/pivotal-mysql-307620e03012f3c2619e/manifest`, we saw a much better error message:
[code]
but returns a 200 error c

[2018-11-16 22:05] fredwangwang opened #288 "Validate that unknown top-level for keys are treated as errors"
Right now, if you pass unknown top level keys, we don't do anything with them, and this causes issues with users who think they have the right keys and do not.
For Example:
[code]

would not return an error, but wouldn't configure anything. `om` needs this key to be:
[code]

The fix for this will strictly enforce top-level OpsManger configuration keys.

[2018-11-16 22:54] fredwangwang commented on #200
https://github.com/pivotal-cf/om/pull/289 pulled in, closing

[2018-11-16 22:54] #200 closed

[2018-11-16 23:04] fredwangwang commented on #284
..ok, but which command in question?

[2018-11-16 23:11] fredwangwang commented on #199
Is there a use case to keep the `--product-name` flag around, or should it also be removed?

[2018-11-18 15:34] jtarchie commented on #287
At the moment, those errors are generated by OpsManager. We don't have definitie way of doing the same from `staged-config` command as we'd be require to duplicate the validation login in `om`.

Are you able to document the values that were incorrect? Maybe the `staged-config` just needs to do more work at extracting the config.

[2018-11-19 19:53] genevieve opened #290 "Feature Request: eval "$(om bosh-env)""
Hey there!

I'm working on the setup for a test suite that reminds me of `eval "$(bbl print-env)"` but `eval "$(om bosh-env)"`.

It would curl for the bosh command line creds, get the bosh ca cert, create a local tmp file for the cert to point BOSH_CA_CERT at, and then export BOSH_ALL_PROXY. It could also just create a config file that you pass to the bosh cli with the `--config` file if it suppor

[2018-11-19 20:18] kcboyle commented on #288
The above commit solves this issue.

[2018-11-19 20:18] #288 closed

[2018-11-19 21:21] kcboyle commented on #281
Do we want to care if a product to-be-stemcell-assigned is a new product, existing product, or a product marked for deletion? (put another way, should we fail out fast if you try to associate a stemcell with a product marked for deletion)

Perhaps this is a non-issue, as when you get the response back when the product is staged for deletion, you get:
[code]
The benefit of checking for `is_staged_f

[2018-11-19 21:44] mcwumbly commented on #290
I would use this feature

[2018-11-19 22:59] genevieve commented on #290
In bash: https://github.com/pivotal/control-plane/blob/master/set-bosh-proxy-creds.sh

cc @zmb3

[2018-11-20 17:03] johnlonganecker commented on #276
We are in a situation where we are required to use LDAP to authenticate to opsman, which is great that opsman 2.3 supports it, but now our automation won't work without using a non-ldap account. Is there any ETA on this?

[2018-11-20 21:12] kcboyle commented on #281
Closing as this is implemented by the above merge.

[2018-11-20 21:12] #281 closed

[2018-11-20 23:05] jtarchie commented on #276
Nope. Last update was accepting PRs at the moment.

[2018-11-21 20:45] fredwangwang commented on #290
a question about the `ssh+socks5` format. The given example (and bbl) assumes that there is a ssh_private_key for the opsman. But it is not always the case. For example, opsman vsphere only supports password until 2.2.

Does BOSH support using password instead of the private key to open the tunnel? Something like: `ssh+socks5://ubuntu@opsman.example.com:22?password=super-secure`

[2018-11-26 19:31] aegershman opened #293 "Consider `om` availability via homebrew package manager"
In order to make the `om` binary easier to consume, releases could be available for mac users via homebrew package management.

I'm under the impression `om` is already available via `apt-get` thanks to `Starkandwayne` via #96 , so this might be a question better suited for @drnic or someone over at https://github.com/starkandwayne/homebrew-cf ?

[2018-11-26 21:44] drnic opened #294 "om version darwin 0.45.0 release prints "unknown""
I downloaded `om-darwin` and when running `om version` it prints `unknown`.

[2018-11-26 22:46] aegershman commented on #293
: D

Thank you, I appreciate it

[2018-11-28 21:53] drduker commented on #284
om download-product --stemcell-iaas --download-stemcell <<LATEST>>

is this already the default action?
It certainly isn't the case with pivnet

[2018-11-28 21:55] drduker opened #296 "feature-request product config - don't export default settings"
om product-config and director-config options export every single option.

It would be better to have an extra param with the om tool to not export the setting if it is already a default setting.
Default settings shouldn't need to be set.  It would just make the configs that platform-automation uses so much smaller.

[2018-11-30 00:30] jtarchie commented on #294
@drnic can you check the `PATH` and `which om`? I just download `om-darwin` locally and it showed the version for 0.45.0 and 0.46.0 respectively.

[2018-11-30 00:32] jtarchie commented on #293
We (Pivotal) might need to have a discussion of the official distribution of `om` as we slowly reach a v1.0.0 consensus. Since the tap is not something we _control_ there might be some hoops.

[2018-11-30 02:41] drnic commented on #293
You can borrow/fork the CI pipeline we use now for our om deb & homebrew.

________________________________
From: JT Archie <notifications@github.com>
Sent: Friday, November 30, 2018 10:33 am
To: pivotal-cf/om
Cc: Dr Nic Williams; Mention
Subject: Re: [pivotal-cf/om] Consider `om` availability via homebrew package manager (#293)

We (Pivotal) might need to have a discussion of the official distrib

[2018-11-30 09:42] crsimmons commented on #276
Is there an ETA on when the next release will be cut? This option will be very useful for us.

[2018-11-30 16:40] fredwangwang commented on #276
Now!

[2018-12-03 21:06] rlewkowicz opened #297 "I need a full file example, preferably in JSON, for vsphere configure-director"
Your pipelines repo https://github.com/pivotal-cf/pcf-pipelines has it using flags like:
[code]
Those `.*configuration` flags are gone as of:
0.47.0

[code]

So then you go look at the read me:
https://github.com/pivotal-cf/om/blob/master/docs/configure-director/vsphere.md

And you have fragments of yml configurations but I'm not sure what the keys are on that.
[code]
Ideally, it would have a key

[2018-12-06 00:15] amcginlay opened #299 "Embedded JSON problems with MySQL Tile."
The use of `((SERVICE_ACCOUNT_JSON))` here causes Ops Manager to blow-up when I try to apply the changes.  I've tried various combinations of [YAML string formats](https://symfony.com/doc/current/components/yaml/yaml_format.html) but to no avail.

Any advice?

[code]

OMPREFIX_SERVICE_ACCOUNT_JSON looks a bit like this:
[code]

[2018-12-06 21:04] rlewkowicz commented on #297
@mcwumbly Any thought on this? (I hope you don't mind the direct ping). I know pipelines is being productized, and we might get in the beta (and or I hear it's GA soon) but is there a plan for configure-director vmware to leave alpha?

[2018-12-06 23:11] johnlonganecker opened #300 "Configure LDAP no option to Provision an Admin Client"
It is great that there is now support for `configure-ldap-authentication` we would like to be able to `provision an admin client in the Bosh UAA` but there is no command argument to let us do this in the om cli.

Am I missing something or does that feature not exist.

Thanks!

[2018-12-07 01:43] mcwumbly commented on #297
@rlewkowicz I don't mind the direct ping at all!

That said, at this time, I think someone from the @pcf-platform-automation team may be closer to the problem and better positioned to consider this idea.

[2018-12-07 14:33] jtarchie commented on #300
There appears to be an option for LDAP and SAML for that, under `create_bosh_admin_client` in the API docs.

We'll put a story in our backlog for this. PRs welcome on it though.

[2018-12-07 14:50] rlewkowicz commented on #297
Thanks @jtarchie this was exactly what I needed! I'm still fumbling around a bit. We're not able to pursue the reference architecture so I've had to hack at the pipelines to see how things are done and then try to modify them to our needs. So mostly I'm just pulling vars/commands out and trying to adjust them accordingly

[2018-12-07 15:09] #297 closed

[2018-12-10 13:25] itpick opened #301 "Feature Request - output required-default-configs of a tile/product"
Feature Request - output required default configs of a tile/product for use with using platform-automation to configure that tile/product.
[code]
Also, default-configs that are already set when uploading a product would be nice to see as they change in every version of a tile it seems:
[code]

[2018-12-12 16:09] gopisaba opened #302 "`--vars-env` is not working and `-vars-file` not working well with the multiline variable"
om version: 0.47.0
PCF version: 2.3.4

I have few problems with the new version of om.
- As per the documentation, I should be able to use `--vars-env` but it looks like not working. I am running something like this
Code:
[code]
Actual Result:
[code]
- I still managed to get pass by putting all the variables in a file and using `--vars-file` to point to it. But it has problem with the multiline st

[2018-12-15 15:51] boina-n opened #303 "decryption-passphrase not working"
I'm getting an error when providing a passphrase with the option --decryption-passphrase

[code]

It appears to work only when I set the passphrase as an exported variable without specifying the option  --decryption-passphrase.

[2018-12-17 23:54] phebous opened #304 "configure product fails with {"errors":{"base":["undefined method `identifier' for nil:NilClass"]}}"
I have several pipelines now failing.  I have isolated all the failures happening in an radio control with incorrect yaml.  In the RabbitMQ tile when I execute an om staged-config on the staged tile, it will product this as the properties.yml config.

[code]

With this, I try to om --configure-product --config properties.yml which results in {"errors":{"base":["undefined method `identifier' for ni

[2018-12-18 14:07] flyinprogrammer opened #305 "`resp` can be nil here even when err is not nil."
https://github.com/pivotal-cf/om/blob/d23650eea8c5a947938a88a17a4e9915c29bb0b2/api/diagnostic_service.go#L31

[code]

[2018-12-18 14:28] ramonskie opened #306 "ability to use network download"
it would be nice if the om cli would be able to use the pivotal network download
https://docs.pivotal.io/pivotalcf/2-2/opsman-api/#download-a-given-product-with-version-from-pivotal-network

[2018-12-18 15:08] phebous commented on #304
Another interesting discovery is that when referencing a radio control in the network properties, this does work.   It is just work with standard declaration.

network-properties:
....
  singleton_availability_zone:
    name: us-west-2c

but configure-products still no dice.

[2018-12-18 17:07] aegershman commented on #306
Just to clarify-- instead of downloading the pivnet file externally & uploading it into the opsmgr, you'd use `om` to tell opsmgr itself to go download the pivnet file? Not trying to hijack, just workshopping out some thoughts here:

I imagine the added value as:
- If opsmgr already has the pivnet product, `om` could halt immediately. Even though `om` halts when it uploads a product and opsmgr alr

[2018-12-18 17:17] ramonskie commented on #306
@aegershman
so the added value is indeed that it doesn't download it first localy and then upload but tell opsman to download the tile from pivotal network.

the opsman api it self gives a status back. if the tile queued, downloading, completed etc
so the opsman cli should generate a progress bar just like we are doing currently with uploading a tile.

replicated tiles stays a special as always.
i

[2018-12-18 17:18] xyloman commented on #306
I think this works except for the case of air gaped environments but they are special as always so they do not apply.

[2018-12-18 17:19] ramonskie commented on #306
also this should be addition not a replacement of the current way of uploading tiles

[2018-12-18 18:37] phebous commented on #304
Digging deeper, I am seeing that the the opsman api call of

GET /api/v0/staged/products/:product_guid/properties

is failing when there isn't a anything selected from the radio list.

[2018-12-18 22:16] crhntr commented on #305
@zachgersh and I came across this panic as well.

There is, from a Go perspective, a standard practice of mutual exclusion between when you get an error and when you get a response from the server (notice how we didn't say successful).

This leads to two problems:

1) The code above, in an error case, is checking that a resp has a StatusCode (which would never actually happen if an error had occur

[2018-12-19 18:31] jtarchie commented on #304
@phebous it has not been well documented what value should be used for selector values.

When you configure tile via the UI and then hit the API endpoint properties, you'll see that the `value` returned for the property is `150% Memory (recommended)`. For selectors, the property `value` is actually the _human readable_ version of the selected option.

At the moment, if you'd like to assign it via

[2018-12-19 18:51] phebous commented on #304
Thanks for your response.  I am more convinced that the problem is with the opsman api vs om.  Opsman is producing a 500 error when making the GET /api/v0/staged/products/:product_guid/properties call and the deployment has a radio controll without a default value set.  OM is just passing this along.    I have also validated that once a default value is saved to deployment, it will function proper

[2018-12-19 22:34] #240 closed

[2018-12-19 22:35] jtarchie commented on #290
Feature added by PR #292

[2018-12-19 22:35] #290 closed

[2018-12-19 22:49] kcboyle commented on #306
I hear you, and we appreciate the feature request.

We've looked into this issue ourselves when we implemented `download-product`, and we found that, while the Ops Manager API endpoint existed, it's stability across all of the IaaSs was iffy at best, and opted to do it another way. We also looked into the EULA, and found problems with allowing people to download from pivnet (unless you had an `@pi

[2018-12-19 22:52] kcboyle commented on #304
Thanks for following up with the OpsMan team! I am going to close this issue for now, and if it continues to be a problem, feel free to reopen this one or open up a new one.

[2018-12-19 22:52] #304 closed

[2018-12-19 22:55] kcboyle commented on #303
Hi @boina-n ! `--decryption-passphrase` needs to be passed **before** the command.
[code]

If you take a look at the `om` help:
[code]
Anything above the `Commands` section is a `global` param for `om`, and must be defined before the command if you wish to use it.

[2018-12-19 23:21] jtarchie commented on #302
@gopisaba the error message in you "Acutal Result" showed us that we may need to document this feature a bit better.

When defined the environment variable.

[code]

Its usage with `--vars-env OM_VAR` the parameter should not include the prefix in the YAML file. For example,

[code]

It would help to have a better errors message, when using `--vars-env` to say we found `OM_VAR_*` but they were unu

[2018-12-19 23:39] kcboyle commented on #301
@drduker we don't quite understand what feature request you are asking for. Can you please give an example of what you see now that is undesirable for your use case, and what you would like to/expect to see?

[2018-12-19 23:53] kcboyle commented on #299
This is a [known issue/feature](https://github.com/cloudfoundry/bosh-cli/issues/248) of `bosh interpolate`, which `om interpolate` is based off of.

When defining your `OMPREFIX_SERVICE_ACCOUNT_JSON`, you can use escaped single quotes to turn the entire value into a string.

For example,

[code]

Notice the `$` in front of the string. We tried the solution based on a [stack overflow](https://stack

[2018-12-19 23:56] kcboyle commented on #296
@drduker  what problem are you trying to solve with this feature request? We've found with interactions with customers that they do want to have all values set in their foundations when they pull down the configs.

We also don't have a way of telling if a value is a default value from the Ops Manager API. We can see that a value is set, but in a tile, Ops Manager treats the "default" like any norm

[2018-12-20 01:10] aegershman commented on #296
Apologies for the minor hijack, just wanted to comment w/ some thoughts:

- it reduces the clutter in the amount of configuration code that needs to be stored off; if, you're only storing off the deltas from how you diverge from defaults, it reduces noise / cognitive overhead when making changes in your yml config.
- it allows for a tile maintainer to publish a new version of their product with ne

[2018-12-20 16:17] kcboyle commented on #303
Feel free to close this issue if it solves your problem, or we will clean it up after the new year :)

[2018-12-20 18:05] gopisaba commented on #302
@jtarchie - Thanks for the help. That worked.
I was using `OM_VAR_hello` in the YAML file.

[2018-12-20 18:05] #302 closed

[2018-12-20 18:40] jtarchie opened #307 "does not support `dns-configuration`"
In OpsMan 2.4, the configuration for a director now includes `dns-configuration`. Documented [here](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#updating-director-and-iaas-properties-experimental).

We need to add this for both `staged-director-config` and `configured-director`.

[2018-12-21 23:03] dfoleypivotal opened #308 "TCP connection timeout"
Just recently we updated the GCP Quickstart (https://github.com/cf-platform-eng/gcp-pcf-quickstart) to use OpsMgr 2.3.  Since this change, we are seeing many TCP timeouts like the error below. Did something change or do we need to add better retry logic to the cli?

omg-cli: error: failed running step ApplyChangesPAS, error: installation failed to get logs: could not make api request to installati

[2018-12-27 19:52] jtarchie commented on #308
Hi. This is issues for the om CLI not the omg-cli. Is there anything related that you address to a command being used from om?

[2018-12-27 21:44] #293 closed

[2018-12-27 22:13] dfoleypivotal commented on #308
Talking with the Google team they lead me to believe that it was calling om let me do some more digging and see what I can find

[2019-01-03 15:20] dfoleypivotal commented on #308
Looking at the omg-cli is using the OM API. Lots of people out due to holidays will continue to look at how it is being used.

import (
	"fmt"

	"omg-cli/opsman"

	"github.com/pivotal-cf/om/api"
)

[2019-01-07 23:12] fredwangwang commented on #306
background: https://pivotal.slack.com/archives/C0554UNSS/p1524587267000551?thread_ts=1524174568.000470&cid=C0554UNSS (not sure if you can see)

TLDR: the OpsManager does not support download from Pivnet if the tile has never been uploaded before. They said there is no plan to prioritize the story since a good portion of the foundations are air-gapped. (Convo from several month ago, not sure the cu

[2019-01-08 16:59] rafnul commented on #226
Ops Manager 2.2.13 implemented a change to resolve this issue:

https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/opsmanager-rn.html#2-2-13

I was able to resolve this with local build by adding a SelectedOption property of type string to staged_products_service.go (yaml selected_option).

Then I dropped into line 98 of staged_config.go, and for reverse compatability, check SelectedOption fo

[2019-01-10 00:05] jtarchie opened #310 "Proposal: migrate properties to top level field in `configure-director` (breaking change)"
# Problem

We were going to add a new property to `configure-director` for the `dns-configuration`. It would've been a top level key for the configuration file.

Example:

[code]

The top level keys of `iaas_configuration`, `director_configuration`, `dns_configuration`, `security_configuration`, and `syslog_configuration` all map to a [single API endpoint](http://docs.pivotal.io/pivotalcf/2-2/opsm

[2019-01-10 21:10] kcboyle commented on #306
We're going to close this issue based on our knowledge of the limitations of the download-product feature offered in Ops Manager. If this changes, feel free to reopen this issue with a comment.

[2019-01-10 21:10] #306 closed

[2019-01-10 22:36] fredwangwang commented on #305
This is a bug! Will do a fix for that. But the reason you guys hit this specific is probably something wrong with `--target`

[2019-01-10 22:50] #305 closed

[2019-01-10 23:00] fredwangwang commented on #164
Ops Manager will be pulling in a new version of BOSH which will fix this issue: https://github.com/cloudfoundry/bosh-cli/pull/471

As no one else has had this problem, we are going to close. If this comes up in the future, we will consider giving a better error message for older OpsMan compatability

[2019-01-10 23:00] #164 closed

[2019-01-10 23:02] fredwangwang commented on #180
closing, already merged in https://github.com/pivotal-cf/om/pull/232

[2019-01-10 23:02] #180 closed

[2019-01-10 23:04] fredwangwang commented on #194
We repurposed the `polling-interval` for the import installation command to wait for a response from OpsManager while it waits for nginx to come up. If we want the behaviour described, we'll need a need a new polling interval when we implement

[2019-01-10 23:04] #194 closed

[2019-01-10 23:07] fredwangwang commented on #194
Also removed the `polling-interval` for `export-installation`.
It made sense when opsman returns installation which included tiles as well, but now its several hundreds of kilobytes that doesn't really matter.
if this is necessary, we should reopen this issue.

[2019-01-10 23:32] fredwangwang commented on #220
Closing this. This issue will be fixed in the Ops Manager API and backported back to 2.0

[2019-01-10 23:32] #220 closed

[2019-01-11 17:57] jtarchie opened #313 "`configure-product` does not work with OpsManager 2.1, unless `validate-config-complete` is set to false"
The `om configure-product` command assumes that validate config complete check should always be enabled. Unfortunely, the API endpoints hit for validation don't exist in OpsManager 2.1. This causes the following panic:

[code]

# resolution

1. We can do a version check of OpsManager to ensure that completeness endpoint is supported.
2. Also do a nil check on the data returned to ensure that it is

[2019-01-11 20:07] #313 closed

[2019-01-11 21:01] jtarchie commented on #308
I've also just noticed that the error message provided isn't actually a timeout. It is a `connection reset by peer`.

[2019-01-11 23:10] kcboyle commented on #222
Closing this issue as no one else has reported having a problem. Feel free to reopen.

[2019-01-11 23:10] #222 closed

[2019-01-11 23:14] jtarchie commented on #310
These change have been made and pass CI.

When you encounter this with an older version of the config file, a _helpful error message_ will appear to let you know the changes you need to make.

[code]

When this change goes out in the next release (v0.50.0 at the moment), we'll document the same messaging in the release notes of `om` and `p-automator`.

[2019-01-11 23:15] jtarchie commented on #310
At the moment, we've opted-out of automatically doing the migration for you in the file as it would require an additional `output` file to be specified and then be persisted. We don't want to do anything destructive at the moment.

[2019-01-12 05:55] aegershman commented on #245
Thank you :) Have a great weekend

[2019-01-15 04:51] zachgersh commented on #277
cc @jtarchie - we can close this now.

[2019-01-15 16:40] #277 closed

[2019-01-16 17:26] jtarchie commented on #310
This has been released in v0.50.0

[2019-01-16 17:26] #310 closed

[2019-01-23 19:22] #303 closed

[2019-01-23 19:35] hjaffan opened #315 "A guid identifier is always causing a "change" to a tile configuraiton"
We have a tile that we are configuring using the om cli and we have noticed the following issue:

Even though we have not altered the configuration of the tile, there is a guid that seems to be auto generated by opsman that's causing it to think there is an update.

Here's an example of the guid that is randomly being generated everytime there is a new configuration.

This perticular one is happen

[2019-01-23 20:07] kcboyle commented on #315
@hjaffan in the metadata of the tile you are using, does the collection in question have a `name` identifier? if not, it could potentially be related to this issue: https://github.com/pivotal-cf/om/issues/207

Can you confirm?

[2019-01-23 20:41] hjaffan commented on #315
@kcboyle so here's what I see in the metadata file

[code]

So the collection type does have a name property for that guid. Is this what you meant?

[2019-01-25 12:53] bruxelles86 opened #316 "inconsistent state if errand fails during `apply-changes --skip-unchanged-products`"
We're using v.0.51.0 of the Opsman CLI, running against v2.2-build.398 of the Opsman.

We've noticed that the flag `--skip-unchanged-products` is a little dangerous to use when applying changes. If an `apply-changes` fails during an errand, the deployment is treated as a success. The next time we run with `--skip-unchanged-products`, the tile in question is treated as an unchanged product (even th

[2019-01-28 15:14] brightzheng100 commented on #300
I encountered this issue too.

The workaround was:
1. Switch back to Internal UAA; and
2. Then switch back to LDAP from UI, remember to check that BOX!!

[2019-01-29 19:22] xyloman commented on #310
@jtarchie did this change also update the command `staged-director-config` to return in the new format?

[2019-01-31 16:58] jtarchie commented on #307
v0.50.0 now supports this feature.

[2019-01-31 16:58] #307 closed

[2019-01-31 17:01] jtarchie commented on #284
With the `product-version-regex` you can specify `.*`, which will pull down the latest version of the product. `om download-product` uses the same logic for semver sorting that `pivnet-cli` uses.

Closing as we've released this feature now. :-)

[2019-01-31 17:01] #284 closed

[2019-01-31 17:02] jtarchie commented on #294
Are you still experiencing this error? Please feel free to open it again if you are still experiencing this issue.

[2019-01-31 17:02] #294 closed

[2019-01-31 17:02] #255 closed

[2019-01-31 17:04] jtarchie opened #318 "support `redact=false` with `staged-configure-director`"
With the new release of `redact=false`, the command `staged-director-config` can include credentials, such as `vcenter_password`, which were previously being filtered out.

[2019-01-31 18:03] drduker commented on #284
Sweet!  Thanks!

On Thu, Jan 31, 2019 at 11:01 AM JT Archie <notifications@github.com> wrote:

[2019-02-01 18:33] jtarchie opened #319 "PROPOSAL: `download-product` can download from external blobstores (ie s3) with same configuration file"
# Problem

For Ops Manager users in air-gapped environments, downloading products via the concourse `s3-resource` can be difficult. For example, the regex to match the `*.pivotal` file can match newer versions than what they'd like to install on the current OpsManager.

The `download-product` config file is an external configuration file, which allows explicit configuration of product, a version o

[2019-02-04 16:56] kcboyle commented on #319
why `--air-gapped` instead of something like `--blobstore`?
"Air Gapped" has certain meanings for some customers, which differ based on who is using the term. It can also have certain security connotations that may or may not be correct.

Thinking ahead, is the pattern for azure/gcs going to be discerned by different config key names, or are we thinking different flags?

[2019-02-04 20:24] kcboyle commented on #316
@bruxelles86, can confirm the behavior. From an `om` standpoint, this seems to be an issue with Ops Manager itself not rolling back changes if there was an error in the deployment.

Do you have any ideas as to how we can fix this issue, or fail more appropriately?

[2019-02-04 20:25] kcboyle commented on #315
Attaching this issue to #207, and closing this one

[2019-02-04 20:25] #315 closed

[2019-02-04 20:26] #301 closed, assigned to nobody

[2019-02-04 20:33] kcboyle commented on #226
The selector issue is being addressed by the Platform Automation team to accommodate a change to the Ops Manager API (change as follows):

For the different combinations that these properties can be set.
* If `option_value` is set, automatically assign the appropriate `value`.

*POST*
[code]

*GET*
[code]

* If the `value` is set, automatically assign the appropriate `option_value`.

*POST*
[code]

[2019-02-05 17:43] jtarchie opened #321 "converting JSON command line arguments to YAML config files"
We made changes to the command line options for `configure-product` and `configure-director` to support a config file. The motivation was generating `bash` escaped JSON strings was troublesome. A config file can be text edited, manipulated, and persisted.

The intended migration path was meant to have the JSON command line arguments be copied and pasted into the config file. The config file suppor

[2019-02-05 23:02] fredwangwang commented on #92
In discussion with @jtarchie we are moving forward with creating a PR for this story, that will be forwards compatible with eventual selective deploy implementation in `om`

We will create an _optional_ config file for the apply changes command.

[code]

If there are 2 products installed `product-name1`, `product-name2`, and `product-name3` this configuration will deploy all three products, and us

[2019-02-06 18:33] clhynfield opened #322 "Docs for bosh-env describe apply-changes instead"
Hi, all. The documentation for the `bosh-env` sub-command appears to be a stale batch of copypasta from the `apply-changes` sub-command. Happy to issue a PR if I get around to it before y’all, just wanted to get an issue open so I don’t forget.

Thank you!

[2019-02-12 22:09] #321 closed

[2019-02-12 22:40] jtarchie commented on #319
This is feature is being worked on. We have been able to achieve everything from above.

We've also added support for v2 signing, so that it may with older s3-compatible blob stores.

[2019-02-12 23:06] jtarchie commented on #226
When we deliver this feature, two things will occur.

1. When using `staged-config`, selectors will not filter down appropriately to the correct selected value.
2. When using `configure-product`, the `option_value` can be set for a selector. This allows machine readable values to be set.

These changes are 2.2+ compatible, starting in 2.2.17, 2.3.10, and 2.4.4, respectively.

[2019-02-12 23:34] jtarchie opened #324 "PROPOSAL: replacing `config-template` with tile config generator"
# Problem

The command `config-template` generates a config file based on the metadata in a tile. This does not require a running OpsMan, like `staged-config`.

`configure-template` doesn't work well for some tiles.

# Proposed Change

The tool [tile config generator](https://github.com/pivotalservices/tile-config-generator) has been a widely used replacement for `configure-template`.

The current

[2019-02-13 00:12] zachgersh commented on #324
My question would be, why (and this isn't trying to be a snarky why its has good intentions I promise).

What are the clear benefits of adding more code to `om` when the tools already look like they can and do work well together now?

[2019-02-14 21:36] jpmcb commented on #318
This has been implemented and accepted.

[2019-02-14 21:36] #318 closed

[2019-02-14 23:13] jtarchie commented on #324
The goals would be:

1. Code ownership. This project is originally made by @calebwashburn. It is used heavily in the field. We'd be taking it over to maintain it.
2. One less CLI for customers to hunt down. I don't think we are worried about adding more code; it seems like the arbitrary metric. `om` helps with a platform operators usage workflows, which includes both product tiles and OpsManager.

[2019-02-14 23:41] zachgersh commented on #324
@jtarchie nice goals, but I think only 2 seems like a reason to pull it into the code base (at the expense of making `om` now more complex to change).

I also don't think my metric was ever just "add more code" and that was too simple of a way for me to say that, if the code bases are separate their concerns are separate and they can evolve independently. That separation of concerns is nice.

1. o

[2019-02-15 17:33] kcboyle commented on #322
Hi! Thanks for opening an issue and apologies for the delay. What changes are you talking about/would want to make in regards to the sub-command?

[2019-02-15 17:35] kcboyle commented on #319
This update has been updated and released in https://github.com/pivotal-cf/om/releases/tag/0.52.0

[2019-02-15 17:40] kcboyle commented on #308
Hi @dfoleypivotal ! I just wanted to follow up on this issue with you.

Were you able to get more information on what specifically in `om` was giving y'all an error?

[2019-02-15 17:43] kcboyle commented on #300
The box that is selected will allow you to create the UAA client, but there is no way to automated-ly get back the client information from the command line without going through a manual process (yet). In a future release of Ops Manager, the created client credentials are something that will be able to be set, but this is not fully command-line supportable yet.

The manual process is documented he

[2019-02-15 18:38] jpmcb commented on #226
This feature has been implemented and accepted.

[2019-02-15 18:38] #226 closed

[2019-02-18 20:51] mcwumbly commented on #324
I think that is the case here.

We already build similar features into `om`, but hadn't taken it quite as far as what `tile-config-generator` does.

More generally, I think this general problem is worth keeping in mind as we consider the designs for any next generation release-authoring features. How can releases describe what their configuration requirements are well enough so that as much as pos

[2019-02-19 19:03] #92 closed

[2019-02-20 17:04] kcboyle opened #325 "Enhancements to apply-changes to make a more robust selective deploy"
`apply-changes` will reattach to an already running apply changes on a given director if run more than once(to prevent failure if there's an accidental disconnect from `om`).

When using a selective deploy (--product-name), this will always still reattach to a running apply changes, and return failure or success. However, a selective deploy will not differentiate if the already running apply chang

[2019-02-20 17:48] jtarchie commented on #319
We're making substantial changes to this from its initial release, so we're re-opening this issue. I've updated the original description to reflect our working notes.

[2019-02-20 18:37] kcboyle commented on #316
@bruxelles86 can you confirm that new versions of `om` still succeed when running `apply-changes` if the errands fail? `apply-changes` should be connecting to the running Ops Manager deployment, and succeed/fail based on the deployment.

While this behavior would not solve the issue of detecting a failed deployment as still a "changed product", when used in an automated way, it would fail the comm

[2019-02-21 13:57] leeloodub opened #326 "Cannot run go get -u github.com/pivotal-cf/om due to undefined variables"
When I run

[code]

I get the following error:
[code]

Can you please take a look? Or should we not use `go get` to install om CLI?

[2019-02-21 17:45] aegershman opened #327 "Recreate-all-VMs during apply-changes"
In order to repave all the VMs associated to a deployment (tile) *without having to configure the bosh director separately*, `om` should allow a `recreate` param to be passed on `apply-changes`.

## background

We want to repave the VMs in our production environment every 7 days, regardless of if there is a new stemcell release or not.

However, you currently have to toggle the "recreate all VMs"

[2019-02-22 09:51] edwardecook opened #328 "Apply changes fails against latest 2.5.0 OpsManager"
OpsManager have recently changed their version string formatting to include the patch number, e.g. 2.5.0-build.128. This results in failures when trying to apply-changes via om such as:
[code]

This is looks like it is due to https://github.com/pivotal-cf/om/blob/4e25e48ef5869281c0e3b9cda691d0427a02b6e7/api/info_service.go#L16-L36

We (PCF Redis) will have a look at submitting a PR for this.

[2019-02-22 16:12] jtarchie commented on #326
Don't use `go get` to install the CLI. Use the released versions on Github.

The issue that you are experiencing with `go get` is actually related to `go mod`. When you `go get` something, it doesn't read the `go.mod` for the dependencies. I believe this is a _known issue_ within golang.

Going to close as there is nothing we can do to fix this.

[2019-02-22 16:12] #326 closed

[2019-02-22 21:17] kcboyle commented on #328
What command are you running that is causing this issue? are you using an internal dev build of OpsMan, or the alpha/betas?
We tested apply-changes with `ops-manager-vsphere-2.5.0-build.128.ova` and were able to `apply-changes` and `export-installation` with no issue.

[2019-02-22 21:35] edwardecook commented on #328
Hi @kcboyle, makes sense.

We're running `om -k apply-changes --product-name "p-redis"` (with some additional auth stuff) and using Toolsmiths' GCP pool envs, which report as having version `2.5.0-build.128`, I don't know exactly what their source for builds is.

[2019-02-22 23:22] kcboyle commented on #300
@johnlonganecker @brightzheng100 Just a friendly poke/reminder to answer our questions above. We'd be happy to offer checkbox support, but unless it is required to continue the manual steps, we'd prefer to wait until OpsMan allows it to be fully automate-able.

[2019-02-25 22:50] kcboyle commented on #328
For context in the Open Source community, Ed and I have been having a conversation. Putting it in here:
(edwardecook):
So I think we were under the impression that there had been a change with how OpsManager was versioning their builds. The issue that we have is that when we are using toolsmith pools we can't specify anything beyond minor version and we just get whichever build the toolsmith team

[2019-02-25 23:18] kcboyle commented on #327
This seems interesting! (and something we could maybe bring up with the opsman team).

Could I rephrase and say that you would like a `recreate-all-vms` to be configurable like opsmanager allows you to do selective deploys?

Digging in a little deeper, what is the use case for recreating the vms every week? What problem are we solving with the recreate a single time (in between cves)?

[2019-02-25 23:20] kcboyle commented on #322
could you give a little more info about what documentation is lacking? (where) if it's a quick fix, we could edit it, but if you feel comfortable, please submit a PR @clhynfield

[2019-02-25 23:23] kcboyle commented on #316
Feel free to reopen this issue if necessary. Closing due to inactivity.

[2019-02-25 23:23] #316 closed

[2019-02-25 23:24] kcboyle commented on #308
@dfoleypivotal! Following up with you again. Would you happen to have more information that could help us out more with your issue?

[2019-02-25 23:38] kcboyle commented on #296
@drduker @aegershman
Thinking back on this issue, can you help us out by proposing an interface on what this would look like for `staged-config` and `staged-director-config`? If you could give us a concrete example of what a desired config would look like? We are limited by what the [Ops Manager API](https://docs.pivotal.io/pivotalcf/2-2/opsman-api/#configuring-products) returns, and from a cursor

[2019-02-25 23:40] kcboyle commented on #287
@crhino This change in better error messaging seems like it would be good for the product. Feel free to submit a PR (apologies for the delay)

[2019-02-25 23:43] kcboyle commented on #259
@joshzarrabi how is the PR for this coming? Is this feature still something you would find useful?

[2019-02-25 23:53] kcboyle commented on #243
@fredwangwang feel free to submit a PR for this if it's blocking y'all

[2019-02-25 23:54] kcboyle commented on #191
closing this issue as proposal https://github.com/pivotal-cf/om/issues/324 addresses this in more detail

[2019-02-25 23:54] #191 closed

[2019-02-25 23:54] kcboyle commented on #324
https://github.com/pivotal-cf/om/issues/191 is a similar proposal

[2019-02-26 00:35] fredwangwang commented on #243
No, it does not block anything currently, it's something would potentially be useful to someone.

Closing this for now, if someone needs it, feel free to reopen

[2019-02-26 00:35] #243 closed

[2019-02-26 09:13] brightzheng100 commented on #300
Based on my experience, I did the `configure-ldap-authentication` but it didn't get me a way to log into BOSH Director.
So I switched over to Internal UAA and then switched back to LDAP again with that BOX checked -- by doing all these was just to have that UAA client created.
After that it's okay again to use `configure-ldap-authentication` -- which looks like once this UAA client is created, it'

[2019-02-26 10:46] jplebre commented on #328
Hey @kcboyle we tried this morning to replicate the issue, here's how we (pcf-redis) run into the issue:
- Get a Toolsmiths pooled env on the latest us_2_5 pool
- Install the Redis for PCF tile 1.14 or 2.0 (the only ones that support us_2_5) and apply changes.
- Try to unstage and apply changes to product by running:
[code]
And returns the following:
![image](https://user-images.githubusercontent.

[2019-02-26 12:35] dfoleypivotal commented on #308
Behavior has been better but still see errors. I will have some time next week to do more testing and supply you with details. Would think best approach would be to add in retry logic.

[2019-02-26 15:23] joshzarrabi commented on #259
Ahh sorry I totally dropped this on the ground. I think `om bosh-env` basically solves this issue anyway.

[2019-02-26 16:18] kcboyle commented on #328
Ok @jplebre

So the issue isn't with _installing_ redis, but with _deleting_ redis. And this is not so much an issue with the generic `apply-changes`, but with the selective-deploy aspect of `apply-changes`. We'll accept this PR. Thank you for the backwards compatibility and helping us to work through this.

[2019-02-26 16:34] kcboyle commented on #328
PR merged. Closing issue.

[2019-02-26 16:34] #328 closed

[2019-02-26 19:19] jpmcb opened #330 "download-product should not be so intimately tied to pivnet and s3"
An example:
[code]
All this function needs is a ProductDownloader (defined in the struct):
[code]
pivnetFactory and stower do not need to be defined anywhere in download-product. They should be defined in pivnet_client.go and s3_client.go, respectively.

download-product tests are also heavily tied to testing the internals of what is called in the pivnet client and stower when this should already

[2019-02-27 01:56] aegershman commented on #327
I think that's a fair rephrasing. Thoughts @xyloman ?

The use case for recreating VMs every week is twofold:

1. VMs should be rotated to maintain an expected cadence and comfort. When we *do* take new stemcells/products which require VM rotation, it's not anything "special" or incites fear. VMs coming up and down should be the expectation. We tell platform consumers that their apps _must_ be clo

[2019-02-27 02:05] xyloman commented on #327
@aegershman this is exactly my thought.

@kcboyle it could be a separate task however the more I think about it the more I would like to have it in something like the env.yml. if we could put the flag there it:

- keeps the pipeline stateless.
- Avoids the need for a new om command.
- avoids the need for a new task which complicates forking logic which pipelines are not good
- allows setting an en

[2019-02-28 04:01] clhynfield commented on #324
Having worked with a lot of clients developing tile configuration automation, this proposal sounds _really_ attractive, for a lot of the reasons @jtarchie’s user research revealed over in #191, mostly centering around tightening the platform developer feedback loop and making development easier and faster:

Very many of our new clients are overwhelmed with the barrage of new tooling we expect them

[2019-02-28 20:34] dawu415 opened #331 "Add support for product syslog configuration"
I am using PCF 2.4, APM v1.6.0 and Event Alert 1.2.6.

For some products such as PCF Metrics and Event Alerts, there is a syslog forwarding configuration tab in the tile.
<img width="706" alt="screen shot 2019-02-28 at 2 09 52 pm" src="https://user-images.githubusercontent.com/25437014/53596315-1a455d80-3b65-11e9-9ab6-cc6da999d40f.png">

These configurations do not seem to be able to be pulled dow

[2019-02-28 21:58] kcboyle commented on #331
@dawu415

A couple questions:

1) Can you confirm the issue you are having? I am interpreting it as "I want to be able to configure syslog for certain tiles, but `om` will not return or set these configurations if I provide them". Is this is accurate summary of the feature you want?

2)Can you clarify something for us? You said that both APM and Event Alerts have this configuration available, but

[2019-02-28 22:39] dawu415 commented on #331
@kcboyle
1. Yes that is right
2. From my current tests with only those two tiles,  that is right.
3. It seems like a tile bug and probably needs a talk with the tile authors.  The om cli could return an error to advise the user of whatever message that was returned from opsman.   At the same time, I am looking through and seeing if I can get some answers about that message from `event alerts`.

[2019-03-04 09:06] jplebre commented on #328
Thank you @kcboyle

[2019-03-05 03:41] jtarchie opened #333 "`download-product` should export the appropriate `assign-stemcell` artifact"
The artifact should look like:

[code]

[2019-03-05 16:10] kcboyle commented on #331
Hello again! To draft a proposal for this feature (PR welcome), let's include the following:
As a user of `om`, I would like to pull down and configure the `syslog_configuration` properties of tiles where these properties exist.
* `configure-product` needs to configure the `syslog_configuration` properties (only if they exist) for a desired tile
* `staged-config` should pull down the `syslog_confi

[2019-03-06 22:31] kcboyle commented on #333
This is done. Released in 0.54.0

[2019-03-06 22:31] #333 closed

[2019-03-07 10:10] ramonskie opened #334 "go mod and replace directive does not work well when consumed as library"
when we consume `om` in our own go library above version `0.51.0`
go mod will fail. because it won't inherent the replace directive.
which then result in a compile error due to a missing dependency
see line: https://github.com/pivotal-cf/om/blob/master/go.mod#L44

i think this can be solved by
removing the replace directive and use the folowing instead
` go mod edit https://github.com/graymeta/sto

[2019-03-07 22:51] Logiraptor opened #335 "om incorrectly reports an error when an ops manager verifier triggers a warning"
We are using ops manager in an environment which requires special IAAS configuration. Because of this, some Ops Manager verifiers fail. We have disabled those verifiers, and they now simply report a warning in the UI, and a 207 (multi-status) in the API. `om` incorrectly reports that as an error and stops configuring the director.

Here is the error we get on `configure-director`:

[code]

You can

[2019-03-08 15:18] jtarchie commented on #334
I don't believe that would help at all. As upstream dependency's `go.mod` files don't appear to be honored at all.

So if you `go get github.com/pivotal-cf/om`, even though it has a `go.mod` file, the `go get` does nothing with it with you `go.mod` file.

[2019-03-08 15:26] jtarchie commented on #334
Why are you inheriting `om` as a dependency, too? At the moment we make no library guarantees about the source code. Just the CLI.

[2019-03-08 15:50] ramonskie commented on #334
we are building an easy way to configure opsman+tiles
https://github.com/starkandwayne/om-configurator

[2019-03-08 17:56] kcboyle commented on #335
Thanks for opening an issue! We've been discussing this internally for a while, but wanted to give some OS visibility to some of the main points.
1) The `/api/v0/staged/director/availability_zones` endpoint is a newer endpoint and the OpsMan team has been making efforts to be more descriptive with what they tell users. The 207 is meant to tell people: "the information you entered was valid, but it

[2019-03-08 18:09] kcboyle commented on #334
It would really help you (and other `om` consumers out!) if y'all could bug the stow team by giving a shout out to this issue (https://github.com/graymeta/stow/issues/197). If we can get the associated PR accepted, this should solve your problem. As we don't seem to be able to get around the `go.mod` bug (that they don't see as a bug), this seems like a good solution)

[2019-03-08 18:13] kcboyle commented on #319
Download-product has been updated and released!:https://github.com/pivotal-cf/om/releases/tag/0.54.0
The biggest changes are around the prefixing that we were using. Instead of `{slug-version}-restoffilename.tgz`, where if the file somewhat matched we didn't prefix, we are _always_ prefixing with `[slug, version]originalfilename.tgz`. This was done to make the prefix more obvious. This prefixing m

[2019-03-08 18:13] #319 closed

[2019-03-08 18:15] kcboyle commented on #308
@dfoleypivotal we still need to know _where_ in `om` you're seeing problems. Sure we can add retry logic, but _where_ and _why_ does it happen?

[2019-03-08 18:16] kcboyle commented on #259
@joshzarrabi is it ok to close this issue then? or are you still wanting to solve this in an `om variables` way?

[2019-03-08 18:19] kcboyle commented on #258
This behavior is not yet fixed. For example, env.yml:
[code]

run with the command:
[code]

[2019-03-08 18:28] kcboyle commented on #327
@xyloman @aegershman is there a way, right now, to do this through the ops manager API? If so, `om` could certainly support doing so. my thoughts as to how this would work currently is that you would have to (if you passed the flag)
1) take the current ops manager config that is deployed
2) automatedly enable the `recreate` option
3) deploy director-only changes
4) run a normal apply changes to re

[2019-03-08 20:24] joshzarrabi commented on #259
I rolled off of the project that wanted this, @nmahoney-pivotal would this still be useful to get the concourse login creds?

[2019-03-08 21:20] calebwashburn opened #337 "Feature Request - adding/updating vm types that are available to select"
Would like to have the ability to manage custom vm types (https://docs.pivotal.io/pivotalcf/2-4/opsman-api/#overriding-defaults-with-custom-vm-types).  Much like vm_extensions this would be another configuration element that is used by `configure-director` extend the default out of box vm_types that opsmanager ships with.

[2019-03-08 21:22] Logiraptor commented on #335
@kcboyle I've made an initial commit which gives the desired behavior, but after reading your response again, I'm realizing that it's more appropriate to scope the flag to just `configure-product` and `configure-director`. I'll work on making that change. Once I get the thumbs up on implementation, I will work on updating the docs with an appropriate warning.

[2019-03-09 00:02] kcboyle commented on #335
Cool. Let us know when you feel good about it @Logiraptor , and we'll take a look at the PR

[2019-03-11 18:23] Logiraptor commented on #335
@kcboyle After talking with the team here, we think it's actually better to keep this as implemented on that branch (a global flag). The reason is that OM will be migrating towards 207 as a general means to signal verifier warnings, so making it a per-command flag will potentially make us have to add support reactively as they migrate the api.

Do you mind taking a look at the code and giving feed

[2019-03-11 20:32] kcboyle commented on #337
@calebwashburn similar to vm_extensions, is this also something that is only configured via the API? or is this a missing UI feature?

[2019-03-11 20:36] kcboyle commented on #322
@clhynfield could you elaborate a little more on which documentation is fishy?

[2019-03-11 20:44] kcboyle commented on #269
Closing this issue due to age and no recent commentation.

If you still feel this is an issue and would like to reopen, please feel free to reopen this issue.

[2019-03-11 20:44] #269 closed

[2019-03-11 20:45] kcboyle commented on #256
Closing this issue due to inactivity. If anyone finds this feature request to be useful, please reopen the issue and let's start the discussion new.

[2019-03-11 20:45] #256 closed

[2019-03-11 20:46] kcboyle commented on #237
Is there more we want to discuss here @mcwumbly @anEXPer , or are we good to close this issue for now? (given internal team conversations)?

[2019-03-11 20:50] kcboyle commented on #300
@brightzheng100 @johnlonganecker if you are doing ldap authentication completely manual (not using `om`), can you login without
1) creating a UAA user first
2) without ever checking that box

What does checking the box give you if you configure ldap after already configured using internal UAA (there is also no way to change authentication methods in an automated way, as a "fun" fact.)

If you crea

[2019-03-11 20:56] clhynfield commented on #322
Just submitted #339, which hopefully does one better than elaborating!

[2019-03-12 01:14] aegershman commented on #327
Interestingly the `recreate` option, when configured, only sticks around for one "apply". If you tick the "recreate" box, then apply changes, right afterwards it will automatically flip back to disabling `recreate`. So I think you could take out steps `3` and `5` since they happen automatically. Whether they _should_ happen automatically is a discussion for the opsmgr team to figure out, I suppose

[2019-03-12 01:25] calebwashburn commented on #337
@kcboyle there is no way to do this in UI

[2019-03-12 03:07] nmahoney-pivotal commented on #259
Yeah I think `om bosh-env` works. We'll open another issue/PR if it doesn't cover some use case.

[2019-03-12 03:44] mcwumbly commented on #237
I don't feel strongly about this, as long as y'all feel like the design goals section of CONTRIBUTING.md communicates the intent well enough what you're looking for from contributors.

[2019-03-12 21:02] kcboyle commented on #259
Good deal. Feel free to open another issue in the future.

[2019-03-12 21:02] #259 closed

[2019-03-12 23:07] kcboyle commented on #335
Addressed via merged PR: https://github.com/pivotal-cf/om/pull/338

[2019-03-12 23:07] #335 closed

[2019-03-12 23:08] kcboyle commented on #337
Thanks for the extra context @calebwashburn. We might not be able to prioritize this for a while, but feel free to submit a PR!

[2019-03-12 23:16] kcboyle commented on #327
Of course! It seems like maybe this feature isn't so great as a singular `om` flag or command, but maybe could be good as a runnable script (or as a concourse task in Platform Automation). We can see if we can have a chat with the Ops Manager folks to see how feasible it would be to get a "recreate" box or option for apply-changes.

[2019-03-12 23:22] kcboyle commented on #322
closing this issue due to the merged PR. Thanks!

[2019-03-12 23:22] #322 closed

[2019-03-15 17:39] kcboyle commented on #327
Following up with you @aegershman! We collaborated with a variety of folks and found a solution that might be able to work for this use case. A way to accomplish this with a minimal number of calls could be to

[2019-03-15 18:39] xyloman commented on #327
After the apply changes run would apply changes have to be run again to clear any pending changes to the director?

[2019-03-15 20:22] kcboyle commented on #327
Nope @xyloman. I double checked with the Ops Manager team, and @aegershman was correct when he mentioned this above. The checkbox, once checked, only runs once for the next `apply-changes`, and then is removed.

[2019-03-15 22:56] xyloman commented on #327
Correct, however I have noticed this puts the director tile into a state with pending changes which has to be applied to clear the state.

[2019-03-18 14:43] aegershman commented on #327
Right, it automatically "removes" the `recreate-all-VMs` config flag on the director after it's run once, so you don't need to make an API call to disable it. But before the removal of the `recreate-all-vms` is officially "set", you have to run `apply-changes` on the director again, because it's considered a "pending change"

[2019-03-18 15:31] kcboyle commented on #327
Hmmmm. That's tricky functionality @aegershman @xyloman . Let me follow up again and see what's up.

[2019-03-20 22:04] eitansuez commented on #240
perhaps it's good that retry logic was added.  but what if it fails three times in a row?

[2019-03-20 22:15] jtarchie commented on #240
@eitansuez: You have to retry. At some point we have to call it on the number things we can attempt to do.

[2019-03-21 15:51] kcboyle commented on #308
@dfoleypivotal, a gentle poke to see if this issue is still relevant for you and for your team. If so, could you help us figure out where and why the TCP connection times out?

[2019-03-21 16:01] kcboyle commented on #327
@xyloman @aegershman , Can confirm. Perhaps this is O.K. behavior. The Ops Manager director is completely independent of the rest of the foundation, and can have `apply-changes --skip-deploy-products` run to update only the settings for the director itself without affecting any deployments (thus, no observable downtime). It leaves the `apply-changes` command the potential to leave a "dirty" deploy

[2019-03-21 22:08] aegershman commented on #327
I could see this being a configuration flag part of the `om apply-changes`; `om apply-changes --products=pas <other-params> --recreate` && toggleable as an env var (`BOSH_RECREATE`?)

I could see this being done as part of one `om` command; e.g., since this requires two `apply` calls to opsmgr (one to `apply-changes`, then another to do `apply-changes --skip-deploy-products` for the director), it

[2019-03-22 15:45] kcboyle commented on #327
@aegershman how would we feel about doing what you suggested above, but rather than keeping it as that single flag with 3 subcommands, having a new command added to `om` called `recreate-all-vms` or something similar. Then we're not overloading apply-changes, and we can be more explicit about what the command is actually doing.

We'd want to keep the `--products` flag to keep parity. It just feels

[2019-03-22 15:57] xyloman commented on #327
I think a new command makes a lot more sense. +1 to keeping the products flag and anything else that would be associated to select product deployments.

[2019-03-22 17:52] aegershman commented on #327
That's fine, the reason I was thinking it be a part of the `apply` command was so toggling the flag could be done as an `env` variable and reduce branching logic within a Concourse task. There's some situations where you might want to run `apply-changes` without recreate (e.g. updating a config property of the foundation which wouldn't normally cause a rotation), and some where you would want to.

[2019-03-22 18:05] kcboyle commented on #327
I could imagine this working well in a concourse setting if you had a job with the single recreate-vms task, that ran on a weekly trigger. this could offer more visibility into what the pipeline is doing, though it would add more yaml.

Going to re-add the PR welcome tag, assuming the work is done for a separate command, maintaining functionality of the select product deployments that `apply-chang

[2019-03-22 18:17] kcboyle commented on #237
@jpmcb and I believe the design goals are sufficient for `om` at the moment. We'll close this issue for now, and reopen, or create a new issue in the future if necessary.

[2019-03-22 18:17] #237 closed

[2019-03-22 18:18] kcboyle commented on #296
@drduker @aegershman

Can you give us a little more information on this issue? We'd love to address it, but need a couple questions answered first.

[2019-03-25 13:27] dfoleypivotal commented on #308
@kcboyle Have not been seeing any issues lately. My guess is the problem was network connection on GCP. If it comes up again I will do more digging to find the root cause. Thanks for the help.

[2019-03-25 13:27] #308 closed

[2019-03-26 15:56] rkoster commented on #308
Today we encountered this issue again while working on gcp-quickstart. The issue occurred when we started using the `omg-cli remote` command to execute our steps. When invoked directly from our development machine the same commands (`push-tiles` and `deploy`) worked fine.

This lead us to believe that the issue may be caused by the connection between `jumpbox => loadbalancer => opsman-vm`. We test

[2019-03-27 22:19] kcboyle commented on #308
Hi @rkoster!

We are not familiar with the `omg-cli` at all, could you give me a little more info on what `om` commands are being used when you call `omg-cli remote`? Is `om` being used as a library or as a CLI in the `omg-cli` code?

[2019-03-28 08:43] rkoster commented on #308
the `omg-cli` is the binary of the gcp-pcf-oneclick project https://github.com/cf-platform-eng/gcp-pcf-quickstart/tree/master/src/omg-cli.
The `remote` command takes the binary and uploads it to the jumpbox and executes the given command from the jumpbox, the reason for it being faster tile up/downloads.

[2019-03-28 16:42] kcboyle commented on #308
Thanks for the quick response @rkoster. The `om` team does not maintain that project, have you opened this issue in the `omg-cli` repo? We are happy to try to help, but `om` does not have a `remote` command, and without digging into another team's code, I don't know where to start with the issue you are experiencing in an external library.

Is the `omg-cli` directly calling `om`? or is it consumin

[2019-03-30 03:19] aegershman commented on #296
/cc @kcboyle

Hm right it appears you'd need to need some way to do a diff against what's supplied as default in a tile & what's "overridden" (configured) by a user. The only way to get those defaults is to look at the `*.pivotal` tile itself... I wonder if this is something which could be [done in the tile-config-generator](https://github.com/pivotalservices/tile-config-generator)?

But ehhh, ble

[2019-04-01 19:36] kcboyle commented on #296
Great call on tile-config-generator @aegershman!

We actually just released a [change](https://github.com/pivotal-cf/om/releases/tag/0.55.0) to `config-template` (experimental) that is a limited feature set from tile-config-generator. The biggest change from TCG is that it will pull down the config from Pivnet every time (though not from an existing Ops Manager). The Pivotal Platform Automation te

[2019-04-01 19:42] jtarchie commented on #324
This has been pulled into `config-template` and released as a of https://github.com/pivotal-cf/om/releases/tag/0.55.0.

We have marked the feature as EXPERIMENTAL, because there is the possibility of minor changes to better fit with the conventions of `om`. This is a first pass. We'd like feedback. Open new issues has they happen.

[2019-04-01 19:42] #324 closed

[2019-04-01 20:09] drduker commented on #296
@kcboyle - That sounds promising.  As long as we have a way to easily separate the values and make the configs as simple as they can be then I'm satisfied.  Not actually working pcf pipelines atm though.  You can close as far as I'm concerned.

[2019-04-01 20:45] #296 closed

[2019-04-08 18:15] kcboyle opened #341 "delete-installation should have a confirm step"
We've received feedback that someone accidentally deleted their installation, and desired a safety.

Proposal to include an optional `--force` flag to the command. This would be a breaking change, as we would be making the automatic delete an opt-in feature, rather than the default. However, this would add a "safety" to the command if accidentally run.

[2019-04-11 21:37] jpmcb commented on #330
Commit 68cc1408f4e4483493069549930ffa7fe333cfab fulfills this as download-product now has clients that register with it. Closing.

[2019-04-11 21:37] #330 closed

[2019-04-12 22:29] kcboyle opened #344 "github integration test"
This is just a test

[2019-04-12 22:34] kcboyle commented on #344
this is a failed test

[2019-04-12 22:34] #344 closed

[2019-04-12 22:34] kcboyle opened #345 "github integration test 2"
this is just another test

[2019-04-15 15:28] kcboyle commented on #345
Failure.

[2019-04-15 15:28] #345 closed

[2019-04-15 15:28] kcboyle opened #346 "Github integration test 3"
Around around we go ...

[2019-04-15 15:45] #346 closed

[2019-04-15 15:46] kcboyle opened #347 "Github integration test 4"
Trying more.

[2019-04-15 15:47] #347 closed

[2019-04-15 15:47] kcboyle opened #348 "Github integration 5"
More integrations!

[2019-04-15 16:00] #348 closed

[2019-04-15 17:02] kcboyle opened #349 "github integration test 6"
last time?

[2019-04-15 17:03] #349 closed

[2019-04-15 17:03] kcboyle commented on #349
HUZZAH! It worked!

[2019-04-18 21:02] jtarchie opened #350 "when using `bosh-env` the `--target` cannot contain a trailing slash"
When using `bosh-env`, if the `--target` host has a trailing slash (like when copied from a Location bar) it will fail.

This is because the URLs generated for the SOCKS5 environment variables have something that looks like:

`socks5+ssh://hostname.com/:22`

when they should look like

`socks5+ssh://hostname.com:22`

[2019-04-23 20:25] kcboyle opened #351 "download-product generated config for assign-stemcell does not always match the slug in Ops Manager"
The config that is generated takes the product slug given for `download-product`

The config that is needed for `assign-stemcell` needs the tile slug, not the pivnet slug.

This could be solved by grabbing the product name from the downloaded tile (like we do the stemcell) rather than inferring it from the `download-product` config

[2019-04-24 12:41] eoghank opened #352 "om is parsing numeric strings as literal numerics"
We have encountered a bug with om (version 0.56.0) and how it is handling strings versus integers. Particularly when we are trying to configure the PKS tile and need to supply the persistent disk types, om is parsing the numeric string as a literal numeric, which then causes it not to match a valid disk type.

From the trace output of om where we are using environment variables for the parameters

[2019-04-25 10:23] ramonskie commented on #334
they have merged it.
can you update you `go.mod` as well?

[2019-04-25 17:05] kcboyle commented on #334
we can. We are in the middle of fixing the CI at the moment, so feel free to submit a PR, or we should be able to get to it either today, tomorrow, or, at worst, sometime early next week.

[2019-04-29 19:59] kcboyle commented on #352
Hi @eoghank!

Are you suggesting a change for `om interpolate`?

a little background on that command is that it is a limited feature clone of [`bosh interpolate`](https://bosh.io/docs/cli-int/). `bosh interpolate`, managed by the Cloud Foundry Foundation, works much in the same way. There are some limitations around parsing strings that the bosh team is working to address, and `om interpolate` can

[2019-05-01 15:50] kcboyle opened #354 "diagnostic_service should use a json parser instead of relying on change-able structs"
[diagnostic-service](https://github.com/pivotal-cf/om/blob/master/api/diagnostic_service.go) has largely remained unchanged since creation since OpsMan has done little changes to the JSON that it returns.

As of 2.6, this will no longer be the case. Rather than adding in new keys as changes arise, or having to add them because x person needed a different key, we could separate diagnostic-service f

[2019-05-01 16:33] kcboyle commented on #354
After discussing with the team, I do not think this is possible, due to the [table_presenter](https://github.com/pivotal-cf/om/blob/master/presenters/table_presenter.go), which relies on specific fields from the Ops Manager response. Because it would rely on these specific sections, there is no easy way to divorce the struct view/usage from the full JSON retrieved from OpsMan.

[2019-05-01 16:33] #354 closed

[2019-05-03 02:47] dawu415 opened #355 "Delete VM Extensions"
Hello,

Would like to request for an om cli feature to delete a VM extension.  The use case for this is where a VM extension is no longer used or needs to be renamed.

This is supported by ops manager via curl calls.
https://docs.pivotal.io/pivotalcf/2-2/customizing/custom-vm-extensions.html#delete-vm-exension

[2019-05-03 18:14] #341 closed

[2019-05-03 20:00] jpmcb opened #356 "Remove include-credentials & include-placeholders from om staged-director-config"
Since the OpsMan API now offers `redact=true` and `redact=false` that will redact IaaS configurations at the API level, we should remove these unnecessary flags from the `staged-director-config` command.

[2019-05-03 20:41] jpmcb commented on #356
The platform automation team talked about it and we will be removing the `include-credentials` flag and replacing it's logic with the `no-redact` flag as they are performing double duty. `include-placeholders` will remain the same.

[2019-05-03 21:10] RoboMWM opened #357 "configure-authentication returns incorrect message when run immediately after opsman VM deployment"
When running `om configure-authentication` immediately after deploying the opsmanager VM on vSphere, it erraneously reports `configuration previously completed, skipping configuration`, despite the opsmanager authentication not being configured at all. If `om configure-authentication` is run at a later time, authentication configuration succeeds.

https://github.com/pivotal-cf/om/blob/76d70ae40b13

[2019-05-04 00:58] RoboMWM commented on #357
om version is `0.56.0`

[2019-05-06 17:39] kcboyle commented on #352
Hello again, @eoghank! Just wanted to follow up based on the post above. If you could give us some more information, we'd love to have this conversation with you.

[2019-05-06 17:40] kcboyle commented on #357
@RoboMWM to clarify, is there a state where you get back an error while configuring authentication if the endpoint is not up, or do we always print out the `configuration previously completed, skipping configuration` regardless of actual status?

[2019-05-07 01:40] RoboMWM commented on #357
So, this might've been issue with our environment - we found another ops manager VM (that was inadvertently forgotten about and not removed) running on the same IP and DNS. Will confirm after completing the teardown of the previous deployment.

[2019-05-07 14:08] ramonskie commented on #334
fixed in https://github.com/pivotal-cf/om/commit/be5a7f895fd6e45e0941a102b5bdbf085b0df240#diff-37aff102a57d3d7b797f152915a6dc16

[2019-05-07 14:08] #334 closed

[2019-05-07 14:18] zachgersh commented on #355
This kind of goes into the discussion we were having about removing `create-vm-extensions` command all together. Maybe all vm-extension management is done via `om curl` and we don't add any of these commands?

what do you think @kcboyle / @jtarchie

[2019-05-07 14:53] xyloman commented on #355
A vm-extensions command could be really useful if it were to ensure state such as delete extensions no longer provided, create those that are new and update those that have changed in one command.  This makes it way easier to automate since you are defining a desired state.  Using curl and specific CRUD operations actually make automating the configuration more difficult.

[2019-05-07 15:11] aegershman commented on #355
I draw inspiration from [how `cf-mgmt` does config](https://github.com/pivotalservices/cf-mgmt), and allows you to declaratively specify what you want & it'll handle the resolution of it. As an example in `cf-mgmt` you can configure...

[code]

Point of interest in `enable-remove-private-domains`, which means `cf-mgmt` would remove anything which _isn't_ configured within `myOrgDefinition.yml`. (I

[2019-05-07 16:00] kcboyle commented on #355
So `configure-director` does allow for the creation and deletion of vm_extensions (and since `configure-director` doesn't care if you have a full config or not, you could, in theory, use it only to create and delete vm_extensions) via use of the config file:
[code]

If the extension does not exist, `configure-director` will create the extension ([function](https://github.com/pivotal-cf/om/blob/mas

[2019-05-07 16:02] kcboyle commented on #357
Please do keep us updated @RoboMWM!

If it turns out to be a non-issue, could you close this one? If not, we have it prioritized to look into sometime in the next few weeks.

[2019-05-07 16:04] kcboyle commented on #300
@brightzheng100 @johnlonganecker Any update on the comment above?

[2019-05-07 16:27] jpmcb commented on #331
* If the user provides some `syslog_configuration` that is not supported, it would be beneficial to have a feedback loop. I don't think that it should fail outright, but a warning saying that the provided endpoint dose not support this configuration. It could also say the `syslog_confiiguration` needs to be set manually via the OpsMan guid.
* I agree that `configure-product` and `staged-product` s

[2019-05-07 19:58] kcboyle opened #359 "Community Feedback Ask - Pending Changes"
We're thinking of implementing the Ops Manager `pre-deploy-check` endpoint in `om`(a 2.6+ feature). Our thoughts are to put it into `pending-changes`, which is a different, less complete version of the endpoint. however, `pre-deploy-check` sounds better than `pending-changes`, so we're considering
- making an entirely new `pre-deploy-check` command
- changing the `pending-changes` command name to

[2019-05-07 20:02] RoboMWM commented on #357
Yup, this was indeed the issue. Whoops.

[2019-05-07 20:02] #357 closed

[2019-05-07 20:04] kcboyle commented on #359
There appear to be two endpoints for pre-deploy-check, one for the director, and one for products
`/api/v0/staged/director/pre_deploy_check`
`/api/v0/staged/products/:product_guid/pre_deploy_check`

Perhaps it makes more sense, with this knowledge, to have pre-deploy-check as its own command

[2019-05-07 20:34] mcwumbly commented on #359
perhaps it'd make sense to introduce `pre-deploy-check` as it's own _experimental_ command first, and then decide whether it's worth rolling it into an existing command or not once you have some feedback?

in particular, now that we're in semver-land, the experimental flag may be useful as a way to iterate on changes until they are ready to become part of the supported "api".

[2019-05-08 09:45] vchrisb opened #360 "add product version to the download-file.json"
It would be good to add `product_version` to the `download-file.json` like `stemcell_version`.
e.g.
[code]

[2019-05-08 16:54] #356 closed

[2019-05-08 17:29] jtarchie commented on #360
Why is this information useful? What would you use it for?

[2019-05-09 07:29] vchrisb commented on #360
I would like to have first a download only pipeline which has a broader glob, like `2.5.*`, in the download-product config files. After downloading and storing the artifacts in s3, at the end of the pipeline all exact versions, like `2.5.3`, are committed to the download-product-s3 config files of the first stage, sandbox. The sandbox pcf deploy pipeline is triggered on that commit and does instal

[2019-05-10 01:28] dprotaso opened #361 "upload-stemcell flag odd behaviour"
I notice this with `alpine:latest` where the shell is busybox. Haven't tested in `bash` though...

this doesn't work (I would expect it to)
[code]

But this does work
[code]

[2019-05-10 01:48] dprotaso commented on #361
I confirmed it also happens in ubuntu with bash

[2019-05-10 05:54] johnlonganecker commented on #300
We have put this task on the back burner for now, but we still need it. \We have automated everything using concourse so it would be nice to be able to check that checkbox with the om cli.

[2019-05-10 14:01] brightzheng100 commented on #300
As it's one-off effort -- we may 1) still do once of that workaround; 2) put some more effort (another task) to create the UAA client before `configure-ldap-authentication`.

But I believe this should be simplified by only calling `configure-ldap-authentication`, for example.

[2019-05-10 20:36] aegershman opened #362 "[semi-random/use-case] hierarchical config and promotion versions"
This isn't an issue; I was inspired by https://github.com/pivotal-cf/om/issues/360#issuecomment-490781915

I want to comment on @vchrisb 's use-case in [#360] without hijacking their issue. We do "hierarchical configuration monorepos"(?) && I want to share thoughts on how we promote config/versions from sandbox to dev to prod for all our IaaSes/regions/envs/foundations.

## current usage

Similar

[2019-05-13 18:14] kcboyle commented on #355
A comment from @nbconklin:
Rather than the `enable-vm-extensions-delete` option, what if we had a default check (similar to the check in `delete-installation`) that would verify before delete each vm-extension in the `vm-extensions` block? This could then be bypassed by a `--force` flag.  Any thoughts on this and the above?

@zachgersh @aegershman @dawu415 @xyloman

[2019-05-13 18:15] kcboyle commented on #361
Hi @dprotaso ! Our team will likely be unable to get to this issue for a while, but you are welcome to submit a PR!

[2019-05-13 18:26] kcboyle commented on #352
From an external conversation. For community visibility, editing and posting the conversation here:

This already works properly in ‘bosh int’:

-          Set the env variable with escaped quotes, e.g. export TEST_pks_p1_master_persistent_disk=\“51200\”

-          bosh int --vars-env=TEST  pks-tile-template.yml

o   The resulting output properly quotes the numeric string value:

§    .properties

[2019-05-13 18:28] kcboyle commented on #352
All of this said, it seems like the solution to this problem is to solve the "so is the problem that they need integers to be quoted, but om interpolate strips the quotes, or that om interpolate should be putting integers in quotes?" problem.

[2019-05-13 18:33] kcboyle commented on #359
We decided to have a new command as suggested @mcwumbly ! Thank you for the response!

[2019-05-13 18:35] #359 closed

[2019-05-14 05:10] brightzheng100 opened #363 "Selective apply-changes may consistently cause issues"
When trying selective `apply-changes` with errand control by specifying `-p` and `-c`, it may (or may not) cause issues -- some situation it's happy to go through; but once it raises this issue, it will always have this issue.

Command like:
[code]

Error message:
[code]

I realised that if we staged more than one products but wanted to selectively apply changes for anyone, it would definitely enc

[2019-05-14 05:23] brightzheng100 opened #364 "`om staged-config` may not generate all configured elements"
While using `om staged-config` for some products, like `newrelic-broker`, some dynamically generated elements (e.g. the plans) couldn't be generated properly -- some with `null` values and some were simply missing.

ENV:
- `om` cli: v0.54.0
- OpsMan: v2.3.11

The one generated:
[code]

The right config (after manually detecting and adding up):
[code]

So you can see the `.properties.nrplans` part

[2019-05-14 14:12] bottkars opened #365 "OM fail to download when aws CDN gives 403"
We have situations where AWS CDN responds with a 403 / Access Denied  upon download after receiving the download link. this causes OM to go into an ( infinite ?? ) wait.

Response size at this step is 110B  and a non matching she therefore
![image](https://user-images.githubusercontent.com/8255007/57704826-f58c5c80-7662-11e9-98b6-2e222c679d7e.png)

Response from Webrequest using Powershell to the

[2019-05-14 15:35] bottkars commented on #365
0 B / 110 B [--------------------------------------------------]   0.00% 10m14s
could not execute "download-product": could not download product: could not download product file p-spring-cloud-services: Downloader.Get: problem while waiting for chunks to download: failed during retryable request: could not get new download link: could not parse json ["<?xml version=\"1.0\" encoding=\"UTF-8\"?><Err

[2019-05-14 22:51] kcboyle commented on #363
@brightzheng100

There are multiple issues around selective deploy already #325, and an undocumented issue around trying a selective deploy where a bosh link had changed (bosh will not detect what deployments need to be redeployed when a bosh link changes. you, as the user are responsible for know when to update a dependent deployment).

Could you potentially give us a workflow that will consisten

[2019-05-14 22:54] kcboyle commented on #365
Hi @bottkars ! We chatted about this a lot in closed channels. To summarize:
we replicated a 403 locally, and we returned an error right away (we used a real token for a product that we didn't have access to, and a fake token that wouldn't work):
[code]

We did track down where the error was coming from in go-pivnet.

Our assumption is that go-pivnet is trying to execute the request we give it, an

[2019-05-14 22:58] kcboyle commented on #364
There was a discussion about this in private channels. The correspondence is below:

brightzheng100
ENV:
- platform automation: 2.2.0 (`om` v0.54.0)
- New Relic Tile: v1.12.20

jtarchie
Were you expecting other values besides the `null` values? if so, what property name and the expected `value`.

brightzheng100
it's kind of dynamic `plan`s there but the plan's elements, like `plan_name`, couldn't

[2019-05-15 15:57] kcboyle commented on #350
This is currently going through acceptance, and will be included in the next release

[2019-05-15 17:05] jtarchie commented on #364
@brightzheng100 are you able to provide us a `om --trace staged-config`. It would be great to have the API payloads that are returned from OpsManager.

[2019-05-16 06:23] brightzheng100 commented on #364
This is fully reproducible so you can also try it out.

As per @jtarchie 's request:
[code]

[2019-05-17 15:14] jtarchie commented on #362
We are currently going through the process of _figuring out_ what a recommended way of config organization, with promotion in mind, looks like.

Thanks for the feedback, @aegershman.
This is useful. We will be using this in our research as _real world_ example.

[2019-05-17 15:17] jtarchie commented on #361
This is the second report (the [first](https://github.com/pivotal-cf/pcf-pipelines/issues/384)) of the order of arguments not being honored in `om`.

This specific to `upload-stemcell`.
We have to investigate the argument handling and see what it is.
Thanks for reporting this.

[2019-05-17 15:33] pivotal-todd-ritchie opened #366 "om upload-product can show a failure if Ops Manager takes too long to respond"
`om` can show a failure when uploading large tiles that take a long time to decompress. As an example, I'm having trouble uploading SRT on a brand new terraformed azure opsman.

When I upload the tile, ops manager takes little over 6 minutes to decompress and validate the tile. By default, the idle connection timeout on Azure is 4 minutes.

The result looks like this:

[code]

If I browse to the o

[2019-05-20 17:40] kcboyle commented on #355
@zachgersh @aegershman @dawu415 @xyloman

Just giving a kindly reminder to assess your thoughts on the above before we decide to do anything further for this

[2019-05-20 17:41] kcboyle commented on #363
@brightzheng100

A kindly reminder to give a little more context on the above please.

[2019-05-20 17:42] kcboyle commented on #365
Hi @bottkars!

A reminder to ask if we are okay with closing this issue, or if there is something more you wanted to talk about on this?

[2019-05-20 21:27] kcboyle commented on #258
This will be released in the next version of `om` (Currently: 1.0.1. Potentially 1.1.0 depending on if new features are added)

[2019-05-20 21:27] #258 closed

[2019-05-20 21:30] kcboyle commented on #352
This will be released in the next version of `om` (Currently: 1.0.1. Potentially 1.1.0 depending on if new features are added -- see [Changelog](https://github.com/pivotal-cf/om/blob/master/CHANGELOG.md) for more details)

[2019-05-20 21:30] #352 closed

[2019-05-20 21:47] kcboyle commented on #351
This will be released in the next version of `om` (Currently: 1.0.1. Potentially 1.1.0 depending on if new features are added -- see [Changelog](https://github.com/pivotal-cf/om/blob/master/CHANGELOG.md) for more details)

[2019-05-20 21:47] #351 closed

[2019-05-20 21:59] kcboyle commented on #360
PR welcome, but we do have this prioritized.

If you would like to start working on it, please tell us, and we'd love to work with you on this.

To clarify, does this get used by `assign-stemcell` at all or is this strictly to optimize another workflow?

We had discussed as a team maybe outputting an additional file (not called `assign-stemcell.json` that could have this value (and perhaps other v

[2019-05-20 22:19] kcboyle commented on #366
The PR has been prioritized for review.
Steps our team will go through before/after pulling it in:
- include a concrete procedure for replicating the error
- affirm that we do not error if the product is already there

To our team's understanding, this is most easily replicate-able on Azure, and is due to a server timeout on the Azure side, _not_ a timeout from `om`.

[2019-05-20 22:20] vchrisb commented on #360
Happy to do a PR, as this should be easy. `DownloadProductOptions` already includes `ProductVersion` in https://github.com/pivotal-cf/om/blob/46ce73cb58cb29472d606b40de89ca771e317656/commands/download_product.go#L48
It would be used to as described in the previous comment and I think `download-file.json` is a good place.

[2019-05-20 22:28] kcboyle commented on #287
@crhino

We did not implement the change you requested to `staged-manifest`, but we did add a new command for the Ops Manager 2.6+ API (`pre-deploy-check`) that will return an organized list of errors like so if run:
[code]

Could you explain your use case for `staged-manifest` a little better for the team? We highly encourage using `staged-config` for the manifest in Ops Manager, or `config-templ

[2019-05-20 22:29] kcboyle commented on #300
@brightzheng100 @johnlonganecker A friendly reminder to please respond to the message above. Thank you!

[2019-05-21 09:03] bottkars commented on #365
Happy to close

[2019-05-21 09:03] #365 closed

[2019-05-21 15:15] kcboyle commented on #360
@vchrisb, sounds like that would be easy enough to pass through.
My first thought was to grab the product version from the downloaded tile itself, but as that product can be opsman, a tile, a stemcell, or even a terraform template (or more!) that might get complicated really fast, and potentially be unreliable.

Like I said though, if you have time and want to get it hashed out, feel free, but we

[2019-05-21 20:24] vchrisb commented on #360
@kcboyle I've done a PR to add the functionality

[2019-05-22 21:59] jghiloni commented on #337
I've been working on this with @kcboyle and we've determined the following flow will work for `configure-director`:

[code]

In this context, the vm type `vmtype1` is added to the list of default vm types. Note that this is _NOT_ default API behavior. If you wish to mimic API behavior exactly, you would do:
[code]

This will behave as the API does and eliminate all existing VM types.

[2019-05-23 21:03] emorenis commented on #357
Hi, We are experiencing exactly the same thing, and there is no error stating that endpoint is not reachable. Can you please advise? Thanks

[2019-05-23 21:13] kcboyle commented on #357
Hi @emorenis!
To verify with you, when you create a new ops manager vm, that has never been configured before, you immediately run `configure-authentication` and do not get an error returned, but the command completes successfully with the error message: "configuration previously completed, skipping configuration"?

[2019-05-23 21:25] kcboyle commented on #360
PR has been merged

[2019-05-23 21:25] #360 closed

[2019-05-23 21:28] emorenis commented on #357
Hi, @kcboyle

Actually, I attempt to run it against already created Opsman VM to change its values from Basic Authentication to LDAP.

[2019-05-23 22:16] emorenis commented on #357
@kcboyle Do you believe om commands are not applicable for this scenario? Thanks

[2019-05-23 22:20] kcboyle commented on #357
@emorenis `configure-authentication` is not applicable for the scenario of changing authentication methods. The Ops Manager API does not support doing this automatically (last I checked, I'm happy to be wrong).

Therefore, `om` cannot support it either. The process of switching forms of auth is entirely manual at the moment 😞

[2019-05-23 22:23] emorenis commented on #357
@kcboyle Thank you very much! I really appreciate your response!

[2019-05-23 22:43] kcboyle commented on #350
Closing this issue. This will be released by EOD today in 1.1.0

[2019-05-23 22:43] #350 closed

[2019-05-24 15:29] jghiloni commented on #337
After talking more with @kcboyle #370 handles both `configure-director` and `staged-director-config`. In the latter case, if there are custom VM types, they are output in the generated manifest. If there are only built-in types, you will simply see `vmtypes-configuration: {}`

[2019-05-27 09:31] vchrisb opened #371 "Make Pivnet Token optional when using download source s3"
Flag `--pivnet-api-token` is currently mandatory even when using `--source s3`
https://github.com/pivotal-cf/om/blob/master/commands/download_product.go#L47

And when using `--source s3`, `om` does not validate if all required parameters for `s3` are present.
E.g. when `--s3-secret-access-key ` is missing following unspecific error is printed:
`could not execute "download-product": Key: 'S3Configu

[2019-05-29 10:39] albqmasqeet commented on #361
I found that

**Case 1:**
`om -k upload-stemcell --floating="false" --stemcell="path-to-stemcell" `
**result:** Upload works and floating arg is honored

**Case 2:**
`om -k upload-stemcell --stemcell path-to-stemcell  --floating false `
**result:** Upload works but floating arg is not honored

**Case 3:**
`om -k upload-stemcell --floating false --stemcell path-to-stemcell  `
**result:** Fails with

[2019-05-29 18:18] jrussett opened #372 "`om staged-director-config` does not handle `director_configuration` for OpsMan 2.3.x"
## Summary
When using `om 1.0.0+` and  running `staged-director-config` against a foundation with OpsMan `2.3.*`, `om` does not return the expected value for configuration hash key `director_configuration`, and instead returns an empty array.

## Expected Result
The returned yaml object to include a hash key, `/properties-configuration/director_configuration`, with child keys, e.g.:
[code]

## Act

[2019-05-29 18:29] jrussett commented on #372
CC @cunnie @evanfarrar

[2019-05-29 18:36] jtarchie commented on #372
Can you include `--trace` in your `om` invocation? That way we can see the API responses to validate if the information is configured as such.

[2019-05-29 19:02] jrussett commented on #372
[code]

[2019-05-29 20:46] kcboyle commented on #372
We believe this is an issue with the `filterSecrets` function in `staged_director_config.go`
[code]

The switch does not have a `default` case that will fail on errors. Some of the ones we found were:
[code]

We potentially need a lot more. @jtarchie thinks we might be able to use reflect in the `filterSecrets` method to maybe make the logic a little better.

This is an issue on OpsMan 2.3, _maybe

[2019-05-29 22:05] jtarchie commented on #371
This does seem like an issue. Feel free to submit a PR

[2019-05-30 14:37] jpmcb opened #373 "go build fails for golang 1.11"
When attempting to build `om` from source, Go fails to build the binary.

Error message:
[code]

Golang version: 1.11.5 - darwin/amd64

The suspect code is in the `interpolate` command.
https://github.com/pivotal-cf/om/blob/d220af6807114151320c815b1d0adb1e03897a00/commands/interpolate.go#L155-L158
`bytes.ReplaceAll` [was added in Golang 1.12](https://golang.org/pkg/bytes/#ReplaceAll).

Should this

[2019-05-30 15:56] hjaffan opened #374 "{"errors":{"base":["undefined method `guid' for nil:NilClass"]}}"
I'm running into an issue with the CLI when trying to configure a tile. I am providing these flags. but then the error I receive is regarding
[code]
#Flags
[code]
# Output
[code]

[2019-05-30 19:31] geofffranks commented on #364
Does it seem like this would apply to things like customized sidebar links for apps manager in the PAS tile? We have them set in the tile, but can find no reference to them after running `om staged-config`. Not sure if this should go here, or in a separate issue for om.

[2019-05-30 19:50] jtarchie commented on #374
The error comes from Ops Manager.
The final configuration is missing some value.
The `configure-product` just passes the file to the OpsManager API, without doing any validation, as we don't know the shape of the tile at that runtime.
If we can narrow down what value is set to `null` in the config file we can help OpsManager generate a better error message.

[2019-05-30 23:16] hjaffan commented on #374
@jtarchie thank you very much for the information. After doing some debuging, it boiled down to a typo in the name of the network.
I appreciate the quick feedback.

[2019-05-31 00:44] jpmcb commented on #373
Talked with team, docs and files updated: https://github.com/pivotal-cf/om/commit/981f2903404928323a554601969081bc576f0930

[2019-05-31 00:44] #373 closed

[2019-05-31 14:26] brightzheng100 commented on #363
FYI @kcboyle.
It may be caused by some scenarios, based on my experiments:
1. new tile deployment -- this is exactly what I reported here;
2. upgrade tile which has dependency (e.g. to PAS) triggered floating stemcell

[2019-06-03 12:20] vchrisb commented on #371
@jtarchie kust removing the `required` tag should be sufficient?
The pivnet golang package will handle missing API token:
`could not execute "download-product": could not download product: could not fetch the product files for ops-manager 2.5.4: must supply valid API token`

[2019-06-03 15:30] jpmcb commented on #374
Circling back around for this; we are synching up with the Ops Manager team and will discuss better error handling for API payloads.

[2019-06-03 15:30] #374 closed

[2019-06-03 15:37] kcboyle commented on #364
@brightzheng100 thank you for the context!

I'd like to close this issue, as it looks like we were able to solve the problem using other channels. Is this okay with you?

[2019-06-03 15:44] kcboyle commented on #371
@vchrisb

You would have to remove the `required` tag, but maintain the required behavior if you are using pivnet. So we would expect to see a test that validated all pivnet creds were present is `source` is not defined. This might require some refactoring of other tests (removing pivnet creds from the s3 tests).

[2019-06-03 15:56] kcboyle commented on #355
@zachgersh @aegershman @dawu415 @xyloman

We're going to throw a `PR Welcome` on this issue.
We would like `configure-director` to have a `--force-vm-extensions` flag that will delete any vm_extensions not defined in your configuration.
By default, if the `vm_extensions` block is defined, we will do a check to verify whether you would like to delete any extensions found in OpsMan, but not found in

[2019-06-03 16:16] kcboyle commented on #363
@brightzheng100

Thank you for the context. We must have missed where you mentioned it was a new tile before.

Can you elaborate a little more on (2)? We're a little confused as to what exactly is happening. It sounds like you have 2 tiles deployed already, let's say PAS and Healthwatch for simplicity.
You want to upgrade the stemcell for Healthwatch selectively, but because HW is dependent on PAS

[2019-06-04 01:13] jinqiaomin commented on #364
@kcboyle, would you mind elaborate on the solution/workaround so that we can learn from? Thank you!

[2019-06-04 01:15] brightzheng100 commented on #364
@kcboyle, the solution / workaround?

[2019-06-04 15:21] kcboyle commented on #364
@brightzheng100 From this response: https://github.com/pivotal-cf/om/issues/364#issuecomment-492441231

It looked like the solution was to change `plan_name` to `planName`. Did that not work?

[2019-06-04 15:44] jtarchie commented on #364
@brightzheng100, in the API output that you have above. The meta information for `planName` get's returned as `.."planName":{"type":"string","configurable":false,"credential":false,"value":"nrtrialplan","optional":false}...`.

This shows that the value is not settable via the API or a config file. It does have a value, but that value could be being set programmatically via the tile, not directly b

[2019-06-04 17:02] RMeharg commented on #300
I am also working with a customer and running into this issue with a slightly different use case.

We are trying to configure SAML with multi-factor authentication out of the box and need the option in the the om CLI to create the bosh admin client and also the option to set the precreated_client_secret for the precreated-client. This will allow us to use the precreated-client to perform additiona

[2019-06-04 17:15] jtarchie commented on #300
@RMeharg, can you share the `on curl` command you are using?

[2019-06-04 18:27] Logiraptor opened #375 "apply-changes --skip-unchanged-products fails to send correct product list to OM"
We observed the following behavior in the OM cli version 1.1.0

[code]
It looks like the om cli is sending null instead of a list of product guids to update.
When there are no changed products, the om cli correctly sends the string `none`.

[2019-06-04 18:38] Logiraptor commented on #375
It looks like the product list [passed to CreateInstallation here](https://github.com/pivotal-cf/om/blob/6e099fbf5cef024f2d26a3bf3cbb395a2147ed41/commands/apply_changes.go#L124) is a list of product guids, when CreateInstallation is expecting a list of product names, which it will [use to look up guids here](https://github.com/pivotal-cf/om/blob/6e099fbf5cef024f2d26a3bf3cbb395a2147ed41/api/install

[2019-06-04 19:29] Logiraptor commented on #375
On second thought, we managed to get the behavior we need for now by doing this:

[code]

This solution doesn't take tile dependencies into account at all, but it works for our small use-case today.

[2019-06-04 19:53] Logiraptor commented on #375
After talking with the team on slack, it sounds like the `skip-unchange-products` flag is likely going away soon, so we will go with our solution above for the time being.

[2019-06-04 19:53] #375 closed

[2019-06-04 23:00] kcboyle commented on #190
This appears to cause issues when using the top-level key: `iaas-configurations`.

if using `staged-director-config`, we cannot set `configure-director` if using `iaas-configurations` due to this issue.

[2019-06-05 19:28] kcboyle opened #377 "`staged-director-config` cannot be used for `configure-director` on vsphere"
when you pull down `staged-director-config`, `az-configuration` gets populated with `iaas_configuration_guid` (see #190) Example:
[code]

This becomes an issue when you tear down the environment, revert changes before deploying the director, or are using the configuration as a template for other foundation deployments.

This is only an issue when using the `iaas-configuration` top-level key block

[2019-06-05 20:30] #337 closed

[2019-06-06 22:29] kcboyle commented on #287
Hi @crhino @sethboyles

Friendly reminder to keep this conversation alive and fresh! ^^

[2019-06-07 16:39] geofffranks opened #380 "om staged-config doesn't pull all values for PAS"
When running `om staged-config`, against the PAS tile, some things, like customized sidebar links for apps manager in the PAS tile are missing (there may be more). Can this be fixed so that `staged-config` pulls in any values from a tile that are changed from the defaults?

[2019-06-10 15:29] jtarchie commented on #380
Can you specify what values are missing from the `staged-config` by their property name?

There are some values that get dropped unless you include `--include-credentials` because we wanted to ensure that credentials were explicitly requested.

[2019-06-10 15:50] geofffranks commented on #380
`push_apps_manager_nav_links` is the name of the product installation-settings identifier of something we're missing, not sure what the full property name would be though.

It's using a `records` attribute for its value vs `value`, maybe that's part of it? The only other items using `records` are credentially - credhub encryption keys, and user-supplied SSL certs.

[2019-06-10 22:59] jtarchie commented on #380
@geofffranks, good find!

Here's the hunting process I went through to validate this bug.
1. Pulled a config for `cf` in a deployed environment. I validated that `push_apps_manager_nav_links` is missing.
1. Pulled the JSON payload from the API endpoint for properties. The payload contained the values for product.
    <img width="723" alt="Screen Shot 2019-06-10 at 4 46 56 PM" src="https://user-ima

[2019-06-11 07:53] YanzhaoLi commented on #41
Is this issue fixed? I encountered a similar issue when deleting installation, the error log shows `as:`

[code]

[2019-06-11 13:41] rguilme1 opened #381 "om apply-changes --product-name apply's all when product not found"
Ran om apply-changes --product-name p-windows-runtime command against Ops Manager 2.4.
Instead of returning an error because p-windows-runtime is not staged, it ran a full apply of all products.

Using om 1.1.0 on Ops Manager 2.4.

To Recreate:  om apply-changes --product-name bad-name

[2019-06-11 17:15] kkallday opened #382 "credential-references shows a subset of all possible credentials"
Hi all,

I noticed some odd behavior today when trying to pull credentials for Pivotal Container Service. When I run `om credential-references` I see the following:
[code]

However, when I do an `om curl --path /api/v0/deployed/products/<product guid for pks>/variables` to pull all variables I get the following:
[code]

I was expecting both lists to be identical. The variable I am interested in is

[2019-06-11 20:48] jtarchie commented on #382
What do you use this command for? It appears that this command and the variables endpoint are two different things.

[2019-06-11 20:51] jtarchie commented on #381
@rguilme1, thanks for reporting this.

We should just have the command if the product does not exist at all.
This would be a great first PR. Would you be able to fix this?

[2019-06-11 22:29] kkallday commented on #382
I'm trying to retrieve the `bosh_odb_ca` secret which is a bosh variable (not a property).

I expected `om credential-references` to retrieve all bosh vars and properties that are marked as credentials - anything that is generated by bosh/opsman and not user-defined. I have to use a curl command with a long path to fetch my credentials instead of using the `om credential-references` command which

[2019-06-11 23:00] jtarchie commented on #364
@brightzheng100, we were able to determine the issue. We wrote up a similar exploration in this [comment](https://github.com/pivotal-cf/om/issues/380#issuecomment-500624282). We are awaiting on the OpsManager team for the resolution.

Thanks for being patient with us while we hunted down the issue.

[2019-06-11 23:58] jtarchie commented on #372
@jrussett, there is a fix on `master`. Are you able to verify that it works for you?

[2019-06-12 18:47] dawu415 opened #383 "FEATURE REQUEST: Enable support for default values in variables for om interpolate"
Working with a number of customers for multi foundations, who utilize a templatized product yml file and a parameter file specific to each foundation. It would be clean and convenient to be able to have a template file with a variable and a default value if the variable was not specified.

In a simplistic example, say we have 3 foundations, `dev`, `perf` and `prod`.  `dev` requires 30 diego cells,

[2019-06-12 20:16] aegershman commented on #383
Just an idea: is it possible that multiple `--vars-file` entries could be used? E.g., like how with the `fly` cli you can specify multiple `--vars` files, where the last file overrides the key config. That way you could have a default `values.yml` file, and under each IaaS / region / env, you could have a `values.yml` that selectively overrides the content? Not sure if this would work in this case

[2019-06-12 20:28] dawu415 commented on #383
Thanks for the suggestion.  I've actually had trouble with that in the past and did try that with `fly`, it could've been an ordering of the var files that I did. We did consider using a defaults file and also ops files too but felt it was too many moving parts and wanted to keep it simple and complete in a single file.

[2019-06-12 23:22] jtarchie commented on #383
@dawu415 this functionality that you are referring is built into the OpsManager tile processing.

We should not provide logical operations in the YAML files. Making YAML templating into a programming language is difficult line to cross. We've seen the success and large failures of `spiff` and `spruce` for example. This is also the history of terraform templates, which were data, but now include `i

[2019-06-13 01:58] dawu415 commented on #383
@jtarchie Thanks. Let me have a look at ytt. It might work as a pattern for some customer. For some others, they are air-gapped and enforce a strict security check on getting those binary bits in. The process is months long and complicated... (unless ytt was packaged with platform automation docker image)

As an alternative, would it be possible if there was an override flag with om interpolate e.

[2019-06-13 02:52] dawu415 commented on #383
Ok. Scratch that. We can't mix ops and vars together in a single file - but I guess an ops file could be an override.

[2019-06-13 10:36] wjun opened #384 "Support of include Opsman CAs during client creation"
It looks there is no way in network/oauth_client.go->NewOAuthClient(...) to pass Opsman CAs with insecureSkipVerify=false to the transport client. In other word, if we set insecureSkipVerify=false, the connection to opsman via tls may fail because the Opsman CA is not trusted.

[2019-06-13 16:55] aegershman opened #385 "om bosh-env / get-credentials / etc. feedback"
related: #290

As admins, in order to more-efficiently manage credentials and bosh targets in multiple environments, we are using `eval $(om bosh-env)` more. We also are finding a lot of value in `om --env my-env.ml credentials <xyz>` Here is some feedback.

I can break these out into separate issues if preferred?

## ability to logout (unset) env vars

`bosh-env` exports helpful `env` vars. But w

[2019-06-13 17:21] jtarchie commented on #384
Have you experienced a particular error message?

[2019-06-13 17:24] jtarchie commented on #382
I don't think there's a bug here.
It is a feature request.
I'm just not completely sure I understand, though.
As I've not had experience with this workflow.

This is a command that has just _been here a long time_, long forgotten who and why...
Can you expand more why you expect the credentials which are properties, would also return these variables, too? If they were combine into a single list, d

[2019-06-13 18:28] kkallday commented on #382
When we implemented `om credentials-references` it was a way for the user to retrieve credentials that are not user-defined. I believe we were pulling properties that were marked as types that are secrets (`password`, `certificate`, etc). Bosh variables weren't around.

Sounds like you are going to deprecate the command since it's "long forgotten" so I will close this issue.

[2019-06-13 19:43] jtarchie commented on #382
Deprecated, not at all.

I just have no frame reference of how/why/when to use it. Didn't even know it existed till you created the issue.

[2019-06-14 01:07] wjun commented on #384
I think it will fail unless Opsman CA is a trusted CA already. If so, I can close this issue.

[2019-06-14 16:09] jpmcb commented on #385
Awesome! Thanks for the great feedback and suggestions:

1. Would the proposed `logout` behavior completely _clear_ the environment, or would you expect this to act like a login / logout stack? (i.e. if there was a previous environment set before using a `om bosh-env` command, this env would be restored after logout?) Or would we expect the user to be required to always run `eval $(om bosh-env)` (

[2019-06-16 14:47] evanfarrar commented on #382
I think @kkallday may be trying to construct a product config for a version of his tile (PKS) that does not have a sample product configuration, as it is pre-release. And he would like to so without human intervention, as his goal is automated testing of new properties for the tile. I gather that `om staged-product` now fills that usecase?

[2019-06-16 15:51] kkallday commented on #382
@evanfarrar I'm not configuring PKS. I'm trying to pull the Bosh ODB CA (see first post). This is related to the installation of Pivotal Service Mesh. Since `bosh_odb_ca` is a Bosh variable (not a property) it isn't in the cred refs output. My expectation was that the command would show all generated creds.

At the time I worked on the story Bosh vars wasn't around.

[2019-06-16 17:19] evanfarrar commented on #382
Interesting. What if Container service _did_ expose this as a property? On PAS tile we have been toying with exposing properties for things that don’t have form fields to support setting them via automation, but I haven’t considered reasons you might want to get tile properties for automation.

On Sun, Jun 16 2019 at 10:51 AM, < notifications@github.com > wrote:

[2019-06-17 14:57] kkallday commented on #382
That would help. I am not sure of how the decision is made to expose a secret via property vs Bosh variable. Maybe @afong94 can answer this?

[2019-06-17 20:13] xyloman opened #388 "Update http proxy settings after configuring auth"
I might be missing something but ran into a use case where we needed to configure http proxy after setting up auth on our ops manager.  It appears that configuring auth is completely skipped when already configured which appears to mean that http proxy settings are also not updated.

[code]

Based upon this PR I figure the http proxy would be configured for the ops manager but only the first time

[2019-06-17 21:04] jtarchie commented on #388
There is a limitation of the OpsManager API, which does not allow reconfiguring of the authentication after initial load -- including `http(s)_proxy` values. We are discussing with the OpsManager team on how to move forward with this.

[2019-06-18 17:10] evanfarrar commented on #382
From what I understand, tile properties are usually only made for the purposes of exposing a form field. But you can make properties without exposing a form field, too, and it would be gettable/settable via OM.

On Mon, Jun 17, 2019 at 7:57 AM, Kevin Kelani < notifications@github.com > wrote:

[2019-06-18 17:27] kkallday commented on #382
Yeah they could do that. It sounds like this is no longer an om issue since
it doesn't sound like credential references will be changed to return Bosh
variables that are credentials. I'll chat with the PKS folks about
potentially exposing that variable via a hidden property.

On Tue, Jun 18, 2019, 10:10 Evan Farrar <notifications@github.com> wrote:

[2019-06-18 17:41] jtarchie commented on #382
I'm still trying to understand if this is information that should be available programmatically to a user. If so, we could discuss adding it to this command or a new one. If you are finding that you need access to bosh vars to work done, maybe this is a OpsManager feature, too.

[2019-06-20 10:06] ramonskie opened #391 "config-template should support no version flag"
in the tile-config-generator there was a flag named `--do-not-include-product-version`
this would result in a flat directory structure without the tile version subdirectory

[2019-06-20 10:07] ramonskie opened #392 "Non-configurable properties cannot be configured"
when running the following comand to generate the tile config files

`om config-template --pivnet-api-token=xxxxx  --pivnet-product-slug=elastic-runtime --product-version=2.5.4 --product-file-glob='srt*.pivotal' --output-directory test`

the following file is created `features/credhub_database-external.yml`
with contains this non-configurable property

[code]

[2019-06-20 14:47] jpmcb commented on #391
Hi @ramonskie! Thanks for this issue.

We have several stories around the `config-template` command. Initially, the logic from tile-config-generator was moved into `om config-template` as an experimental first pass (note that the command has `**EXPERIMENTAL**` in the help description). We plan to bring more features into this command from tile-config-generator and refine it's usage.

We will look

[2019-06-20 15:35] nbconklin commented on #372
@jrussett a friendly reminder on this follow up

[2019-06-20 16:44] jrussett commented on #372
@nbconklin @jtarchie I'm sorry, I just saw that you had posted an update today. The PAS NSX-T integration team actually just spun down at the end of the last week (Jun 14th), so no one is monitoring these pipelines daily.

I'll try to integrate the new release of `om` into our docker image during flextime this week and report back. CC @cunnie in case he gets to this before me.

[2019-06-20 17:30] jtarchie commented on #392
Can you clarify your expectation here or an error message that you experienced?

I can see from the tile metadata the property is not configurable, as it does not explicitly set `configurable: true`.

[2019-06-20 17:31] jtarchie commented on #391
We were selective in the features we brought over. To limit the things that needed to be supported.

Is this a feature you required to do your work?

[2019-06-20 22:38] anEXPer commented on #366
We're pretty sure this isn't governed by the Azure idle timeout, but by our default `request-timeout`.

The upshot is: extend your request-timeout in your env.yml file and you won't see this problem. We've heard that "over 9000" is sufficient, but probably excessive.

We've also updated the related PR with more information about changes we'd like to see in the messaging, but increasing the timeout

[2019-06-20 22:52] anEXPer commented on #366
Here's our followup story: https://www.pivotaltracker.com/story/show/166833456

[2019-06-21 01:59] jrussett commented on #372
@nbconklin @jtarchie I just manually validated that `om staged-director-config` returns the `director_configuration` as a hash as expected:

[code]

Thanks for addressing this issue 😁

[2019-06-21 01:59] #372 closed

[2019-06-24 16:49] nbconklin commented on #391
Thanks for sharing - we have some upcoming work to make improvements to the config-template. Would like to circle back with you when we've done that - happy to hear more context from you in the meantime. Thank you.

[2019-06-24 16:49] nbconklin commented on #392
Thanks for sharing - we have some upcoming work to make improvements to the config-template. Would like to circle back with you when we've done that - happy to hear more context from you in the meantime. Thank you.

[2019-06-24 17:07] nbconklin commented on #190
@mcwumbly I'm going to close this conversation as we have #377 now. Thank you!

[2019-06-24 17:07] #190 closed

[2019-06-24 17:12] nbconklin commented on #380
Hi there - we've discussed with the OpsManager team and they are planning to backport the API fix from 2.3-2.7. Stay tuned for the OpsManager release notes for more information. Closing this issue. Thanks for reporting!

[2019-06-24 17:12] #380 closed

[2019-06-24 17:12] nbconklin commented on #364
Hi there - we've discussed with the OpsManager team and they are planning to backport the API fix from 2.3-2.7. Stay tuned for the OpsManager release notes for more information. Closing this issue. Thanks for reporting!

[2019-06-24 17:12] #364 closed

[2019-06-26 08:37] ramonskie commented on #391
we have build ci that automatically upgrade cf tiles and because this is all standardized.
thats why we use 1 directory for each tile. so a versioned directory makes things way more complicated.

please let me know when the upcoming improvements are done so i can do some more tests.

[2019-06-26 08:42] ramonskie commented on #392
the problem is when. this entry is in the yml file. and you try to configure the the product. it will fail,
with the error above.
i don't how to clarify this any further. :)

[2019-06-26 19:59] eamonryan opened #396 "`generate-certificate` accepts multiple `-d` flags but only one is used"
om version `1.2.0`

If you ask `om` to generate a certificate for you, it will accept the `-d` flag multiple times, implying that it would generate a certificate containing each of the domains passed.

`om generate-certificate -d "domain1.${ROOT_DOMAIN}" -d "domain2.${ROOT_DOMAIN}" -d "domain3.${ROOT_DOMAIN}" > generatedcert.json`

The command succeeds.

However, the generated cert will contain on

[2019-06-26 20:24] jpmcb commented on #396
Thanks @eamonryan for the issue! Yes, this makes sense to me as well. We should do the following:
1. Fail if multiple `-d` flags are included
2. Instruct the user to use a comma separated string with the domains desired

Would be a great first issue if someone would like to claim.

[2019-07-05 13:59] jtarchie commented on #392
This should be fixed in https://github.com/pivotal-cf/om/commit/bb4d7e14613d801245a3632f5ad9cc9d89ae5610, released in v2.0.0.

I ran the command, above, and this is the output.

[code]

[2019-07-05 13:59] #392 closed

[2019-07-05 14:02] jtarchie commented on #388
There is no way to do this via API for the GUI, at the moment.
I'm going to close this issue, we can revisit it, if/when OpsManager supports reconfiguration or authentication.
If you must to do this on an OpsManager, please contact Pivotal Support as they will be able to assit you further.

[2019-07-05 14:02] #388 closed

[2019-07-05 14:04] jtarchie commented on #383
Were you able to figure a workable solution?

[2019-07-05 15:38] aegershman commented on #388
Went ahead and opened a pivotal support ticket about the use-case so there's something in the backlog about it: case number 211454

[2019-07-08 14:33] jvshahid opened #398 "download-product fails to download product's stemcell if the product dependencies include windows and linux stemcells"
Steps to reproduce:
-----------------

[code]

Actual behavior:
---------------------

OM cli fails to download the stemcell with the following error:

[code]

From my understanding of [this code](https://github.com/pivotal-cf/om/blob/9f3da329b7cc520176b33fe4304ee48156eb7890/download_clients/pivnet_client.go#L164-L183), the bug appears to be due to the usage of the highest stemcell version regardl

[2019-07-09 15:21] kcboyle commented on #384
@wjun can you confirm whether this fails or not with an error message (if available)?

[2019-07-10 15:35] kcboyle commented on #371
merged pull request #378 to resolve this issue

[2019-07-10 15:35] #371 closed

[2019-07-10 20:09] kcboyle opened #399 "om revert-staged-changes will fail in OM 2.5+"
This command will silently fail.

We assume this is due to changes in the OpsMan API.

Expectation:
`om revert-staged-changes` should return an error if it fails, OR it should successfully revert changes

This command hits an HTML form, and not the Ops Manager API. It is assumed that the form has changed for newer versions of OpsManager.

Exploration into how long this has been an issue is necessa

[2019-07-10 20:50] davidjahn commented on #399
it appears that `revert-staged-changes` is behaviorally identical to `unstage-product` (which uses the API).... probably the best course of action is to remove this command entirely from `om`

[2019-07-11 04:50] mcwumbly commented on #259
We have a use case where this feature would be valuable. for installing our product on PKS, we require getting a variable and currently have it documented as such:

[code]

I believe with this command we could simplify our installation insructions for this step to retrieve the variables with:

[code]

Could we re-open this issue?

[2019-07-11 17:24] jghiloni opened #400 "Setting `additional_vm_extensions` to `[]` should erase all extensions."
There's currently no way to remove all VM Extensions from a VM using the `resource-config` block of a config yaml. I would expect setting `additional_vm_extensions: []` would have that effect, but it's the same effect as not setting the key at all.

[2019-07-11 23:02] jtarchie commented on #399
this will be removed in `om` 3.0

[2019-07-11 23:02] #399 closed

[2019-07-11 23:34] cfryanr opened #402 ""om upload-stemcell --floating false" does not work"
Command used:
`om ${om_opts} upload-stemcell --stemcell ${stemcell_file_name} --floating false`

Actual behavior:
Acts as if you had used `--floating=true`

Desired behavior:
Either act as if you had used `--floating=false`, or error out with a nice message because `false` is an unexpected positional argument

Workaround:
Be super careful to use `--floating=false`

[2019-07-12 15:51] mcwumbly commented on #259
Just learned there's a separate issue that is still open which covers this need: https://github.com/pivotal-cf/om/issues/382 Moving my comment above over there...

[2019-07-12 15:52] mcwumbly commented on #382
We have a use case where this feature would be valuable. for installing our product on PKS, we require getting a variable and currently have it documented as such:

[code]

I believe with this command we could simplify our installation instructions for this step to retrieve the variables with:

[code]

[2019-07-16 17:40] nbconklin commented on #400
@jghiloni

I believe we intentionally would not delete `vm_extensions` when empty because there was a use case to allow additions without having to redefine all of them. Using the `--force` as described in #355 would allow for deletion of the extensions.

#355- would this type of solution work?

[2019-07-17 20:30] ohlookadollar commented on #384
We are also running into this. Our use case is opsman is server up a self sign cert and there is no way to provide om the cert.

Error from om:
could not execute "...": could not make api request to director credentials endpoint: token could not be retrieved from target url: Post https://pcf.domain.com/uaa/oauth/token: x509: certificate signed by unknown authority

[2019-07-17 23:31] Houlistonm opened #404 "FEATURE REQUEST: modify the product-download to allow a user to choose light or full stemcell."
During product-downloads, we need to specify the full stemcell vs the light stemcell. Currently we do the product-download only to follow it with a download of a full stemcell.  It would be beneficial if we could influence the download to get the product and full stemcell in one operation.

[2019-07-17 23:37] jtarchie commented on #404
Thanks for the issue.

Pivnet only has one or the other per IAAS. For example, [xenial](https://network.pivotal.io/products/stemcells-ubuntu-xenial/) AWS and GCP are just the light ones. Pivnet does not have the full for AWS and GCP. If Pivnet does not have it, `download-product` cannot get it.

This isn't functionality we can add to `om`. A discussion with team/product manager of the bosh team wi

[2019-07-18 15:14] h4xnoodle commented on #404
hello @Houlistonm,

What is the requirement you have for obtaining both light and heavy stemcells? Is there a particular problem you're having where having both solves it?

The light stemcell is a pointer to an image already residing within the IaaS, which means the light stemcell is essentially the same as the heavy but is faster to upload for the operator due to the cloud already holding most of

[2019-07-18 15:26] kcboyle commented on #381
accepted. Will be in next release

[2019-07-18 15:26] #381 closed

[2019-07-18 15:27] kcboyle commented on #402
This will be included in the next release. `upload-stemcell` should support
`--floating=true` AND
`--floating true`

[2019-07-18 15:27] #402 closed

[2019-07-18 15:39] Houlistonm commented on #404
The problem is I'm working in a private/on-premise (air gap) IAAS, and the light-stemcells don't work for us because we don't have the AMI's referenced in the light stemcells.

We're trying to use platform automation to download products/stemcells from Pivnet but we have to followup each download with a second download of the full stemcell.

I was looking for some platform-automation way (via OM)

[2019-07-19 15:48] h4xnoodle commented on #404
I see, that makes sense. + @mgadiya who is PM on bosh systems team looking after stemcell publishing.

[2019-07-19 19:51] mgadiya commented on #404
@Houlistonm thanks for sharing the use case.

What are the additional problems with getting the stemcell in two operations other than needing the logic to to wait for product download and _then_ run the stemcell download?

[2019-07-21 17:20] Houlistonm commented on #404
I'd prefer to use the Pivotal Platform Automation with out having to modify it to account for the full stem cells.  This is going to be an ongoing issue for us and other customers with a private IAAS.

[2019-07-22 13:59] evanfarrar commented on #404
@mgadiya do the CPIs provide a consistent abstraction for downloading the stemcell in two operations as you describe? The problem with getting the stemcell in two operations that I see is that light stemcells are slightly IaaS specific, so if `om` implemented "follow the URL" logic it would hard code the number of IaaSes `om` supports in kind of a weird way.

[2019-07-22 17:00] nbconklin commented on #400
@jghiloni ping!

[2019-07-22 17:19] nbconklin commented on #383
@dawu415 how did this work out for you?

[2019-07-22 17:24] nbconklin commented on #384
Thank you for sharing this - we have a story in our backlog to do this work. https://www.pivotaltracker.com/story/show/167202157

---
"Add `ca-cert` support to `om` and `p-automator`"
When using `om` (and `p-automator`?) the OpsManager can have a custom SSL cert with a customer CA.
The `om` CLI needs to have the ability to use the CA cert for secure communication.

**A/C**
When I use `om` against

[2019-07-22 17:52] dawu415 commented on #383
Hi
We just opted to keep it simple for now and not use default values but instead specify it in our params files instead.   I'm happy to close this, otherwise.

[2019-07-24 13:44] Houlistonm commented on #404
Just for my own clarity, This issue has been closed and we're still discussing it.  Will some action be taken to account for the download of full stem cells to support private/air-gaped IAAS?

[2019-07-24 19:15] evanfarrar commented on #404
@Houlistonm I believe @jtarchie closed this believing that, unless the Bosh team makes the other type of stemcell available on Pivnet, this feature would be impossible. The Bosh team seems to be suggesting that OM could instead get the full stemcells from the AWS bucket they are stored in, which I am attempting to clarify.

I'm continuing to discuss this to ensure some action is taken, there is no

[2019-07-24 22:19] kcboyle commented on #383
Happy to hear that there is, at the very least, a workaround for this. If the params file causes issues for you in the future, or if you discover a way that we could include the defaults without complex yaml parsing, feel free to reopen/discuss with the team.

[2019-07-24 22:19] #383 closed

[2019-07-24 22:27] kcboyle commented on #398
Questions that need answers for this issue:
- How does PivNet handles stemcell dependencies?
- we should also explore being able to specify the Windows v Linux stemcell.

Windows stemcells cannot be downloaded from pivnet unless you are a pivotal employee, so adding the ability to choose an IAAS seems like the wrong way to go.

That said, there is a fix we could do is more intelligently look in th

[2019-07-24 22:35] kcboyle commented on #391
@ramonskie we have not made a new release of `om` yet, but there are commits on master that have most of the changes we have made recently to `config-template`.

A summary of the original issue to assist in a PR if you'd like to create one:
Adding a flag for do not include version essentially would allow removing version from file structure so that their pipelines can map to a general product rath

[2019-07-24 22:36] kcboyle commented on #363
@brightzheng100 wanted to follow up with you on this issue, as it appears to have been awhile since our last follow up

[2019-07-25 20:33] shanman190 commented on #327
@kcboyle another use case that we have is around recreating all VMs after things such as CA certificate rotations. There are a couple of apply changes with recreates necessary in that process to rotate and then cleanup followed up with the apply changes to clear the pending director changes.

[2019-07-26 09:40] nodo opened #407 "Rename executables to be more automation friendly"
Hi there,

At the moment the executable are called `om-ARCH-VERSION`, would it be possible to called them `om-ARCH` only? For instance instead of `om-linux-3.0.0` -> `om-linux`

Our team tries to always keep `om` up-to-date by using a link like this one: https://github.com/pivotal-cf/om/releases/latest/download/om-linux-3.0.0. However, because the assent name contains the version, it doesn't reall

[2019-07-26 21:22] shanman190 commented on #327
So a question comes to mind, if the om command were `recreate-all-vms` would it also recreate service instance VMs by enabling the `recreate-all-service-instances` errand for any deployed products?

[2019-07-27 12:52] jtarchie commented on #407
@nodo I’m not quite sure why the version number is an issue here. Are you able to clarify why the file cannot be downloaded? The link you provided above has the version number in it.

The version name is ideal to have because if someone downloads it locally they can identify what version they downloaded.

[2019-07-29 09:30] nodo commented on #407
We would like to have a link that always points to the latest version (E.g. we would love to have a link like https://github.com/pivotal-cf/om/releases/latest/download/om-linux).

Since the executable name contains the version, the link: https://github.com/pivotal-cf/om/releases/latest/download/om-linux-VERSION breaks every time  a new version of `om` is released. What we had before was: https://g

[2019-07-29 15:49] nbconklin commented on #361
This issue has been fixed and will be released in an upcoming om release. Thank you! (also related to : https://github.com/pivotal-cf/om/issues/402)

[2019-07-29 15:49] #361 closed

[2019-07-31 01:13] taotao20082006 commented on #331
My customer is running on `PCF: 2.4.9, APM: 1.6.0-build.41` hits similiar issue. He is not able to pull down apmPostgres syslog configurations when running the `om staged-config --product-name=apmPostgres` command. This issue prevents him to put in the exact properties selector field names such as `.properties.syslog_selector.enabled.port` for the apmPostgres tile pipeline configuration.

May I kn

[2019-07-31 15:08] jtarchie commented on #407
@nodo, we cannot provide that, sorry. It is very intentional to have the version name in the binary.

We can help you find an alternative to do the same thing, though.

[code]

Using Github's API, we can get the latest release, and whittle down to the correct release. That _should_ be deterministic.

[2019-07-31 15:08] #407 closed

[2019-07-31 19:20] kcboyle commented on #331
Hi @taotao20082006 ! thanks for agreeing with this issue.

We do have this prioritized, but will still, likely, not get to it within the next few weeks. This issue was created so that we could add support for setting syslog configuration in your `product-config.yml`.

This is a known gap for PCF Metrics and Event Alerts, and we are happy to accept a PR if this is blocking your customer.

From dawu

[2019-08-01 03:35] taotao20082006 commented on #331
Hi @kcboyle,

Thanks for your update!

[2019-08-07 16:35] jghiloni commented on #400
I think a `--force` flag could be useful, yes, especially if we updated the `configure-director` task to provide that as an option via env var that could control whether or not it's there.

[2019-08-07 16:40] jtarchie commented on #400
@jghiloni is it good for us to close this issue, in favor of #355?

[2019-08-07 16:42] jtarchie commented on #384
@wjun @ohlookadollar would the solution @nbconklin proposed work to solve this issue?

[2019-08-07 16:43] jtarchie commented on #327
@shanman190: If we were to approach errands, too. We'd need to know the errand name for each service. Are those named consistently, if not, how would we identify them?

[2019-08-07 19:42] shanman190 commented on #327
@jtarchie, yeah, I don't know if they are named the same or not. My guess is that since each bosh release can have it's own errands with their own names and there doesn't seem to be an opinionated way of naming the errands, it probably isn't likely. With that in mind, it's probably just going to be easier to keep a similar API surface area by allowing `--config` to be passed in for the errands con

[2019-08-08 20:48] kcboyle commented on #363
@brightzheng100 we're still confused as to why this is causing issues. From everything that we have tested, there is no problem. Can you please give us an example of what tile pairs are not working, and/or describe your process a little more?

[2019-08-09 17:47] aegershman opened #408 "Problems with pivnet packaging and build-numbers"
Forgive me for these write-ups, but it's very useful to externalize them in pivotal-cf/om and make them visible for future references.

[Starting in `p-redis` 2.1.3](https://network.pivotal.io/products/p-redis/#/releases/422759), the product version in opsmgr is no longer referenced as `2.1.3`, it's using a `-build.xyz` number, referenced as `2.1.3-build.34`.

![Screen Shot 2019-08-09 at 11 59 39

[2019-08-12 15:29] jghiloni commented on #396
I'm looking into this and made a discovery: there's no way to tell `jhanda` to require exactly one instance of a flag. I propose allowing multiple `-d` flags and joining them all with commas before proceeding. However, I would still allow multiple domains specified in one `-d` instance to contain multiple comma-separated names for backward compatibility.

Thoughts?

[2019-08-12 15:51] kcboyle commented on #396
that sounds like a good alternative solution to the problem!

[2019-08-12 16:16] jghiloni commented on #398
I've been trying to reproduce this with the `p-clamav-mirror` tile and PKS 1.5, and have been unable to reproduce. @jvshahid is this still an issue? Both cases, I ran a command equivalent to your description, and received no error.

[2019-08-12 17:49] jghiloni commented on #400
I'm reopening this due to a misunderstanding between this and #355. In that issue, they want the ability to delete VM extensions from the director/the generated runtime config. In this issue, I want to be able to remove existing VM extensions from the list of extensions attached to an instance group.

[2019-08-12 17:54] kcboyle commented on #355
Additional note for this issue:
the behavior now will delete vm extensions if "[]" is provided. (this is returned from `staged-director-config` as `vm_extensions: []`)
1. `staged-director-config` behavior should stay the same
1. `vm_extensions: []` in `configure-director` should _not_ delete `vm_extensions`
1. vm_extensions should only delete if `--force-vm-extensions` is provided, otherwise it wi

[2019-08-12 17:57] kcboyle commented on #355
breaking change note: this is going to functionally change how `configure-director` handles `vm_extensions`.
Pre-PR: `vm_extensions: []` deletes all extensions
Post-PR: `vm_extensions: []` does nothing to vm extensions

[2019-08-12 18:19] kcboyle commented on #400
Could we have similar unit tests to those described in #355 for this as well?

Functionality for deleting the vm_extensions for a particular product instance_group should only delete if `--force-vm-extensions` flag is defined.

using `backup-restore` for simplicity
1. with the following product-config, `another_vm_extension` exists for backup-restore on OpsMan
[code]
    **`configure-product --for

[2019-08-13 18:19] nbconklin commented on #408
Thank you for sharing! I've also shared with the PivNet team and we will discuss further.

[2019-08-13 18:25] calebwashburn commented on #408
@aegershman while there is definite room for improvement this is where the om tile-metadata command can help in the current spaces.

`
product_name="$(om tile-metadata \
      --product-path product/*.pivotal \
      --product-name)"
    product_version="$(om tile-metadata \
      --product-path product/*.pivotal \
      --product-version)"
`

This prevents you from having to first upload it or ma

[2019-08-14 07:21] brightzheng100 commented on #363
The cases I found when I was working with a customer include:
1. we staged more tiles, say RMQ, MySQL, and wanted to apply changes for only one tile, say MySQL;
2. (then we applied changes altogether manually) and carried on the next new tile deployment (forgot which one already, maybe Redis), it failed again as what I reported here (which was not yet deployed  of course as it's a new one)

FYI @k

[2019-08-14 14:21] geofffranks opened #411 "om configure-director fails when applying a brand new extension to the director"
We attempted to add a vm extension to our director vm today, but received the following error:

[code]

The commit to add the extension both added the extension name under `additional_vm_extensions`, and defined the new extension in `vmextensions-configuration` in our config yml. It looks like this is just an order of operations issue. We commented out the new extensions in `additional_vm_extensio

[2019-08-14 18:01] calebwashburn opened #413 "om config-template should support tiles with replicator."
Some tiles support being replicated (ie - https://network.pivotal.io/products/p-isolation-segment/).  This is a process that modifies the tile metadata which config-template needs to be able to support to generate templates.  Since om config-template only supports pulling the metadata directly from pivnet not from a tile that has been replicated this isn't possible.  Adding support to also take a

[2019-08-14 19:32] iplay88keys commented on #411
What version of `om` are you using?

[2019-08-14 20:54] geofffranks commented on #411
sorry, we're using v3.0.0

[2019-08-15 14:31] jghiloni commented on #391
I'll take a look at this

[2019-08-15 14:56] jghiloni commented on #391
As for the backfill of unit tests, i'll consider that in another PR 😉

[2019-08-15 21:01] iplay88keys commented on #331
@dawu415 @taotao20082006 This has been added and will be in 3.2.0! Closing this issue as a result. Commits tagged with [#167173691]

[2019-08-15 21:01] #331 closed

[2019-08-15 21:47] jghiloni commented on #300
I think this is solved by 2a5eb1d ... am I wrong?

[2019-08-16 16:20] #396 closed

[2019-08-16 16:21] kcboyle commented on #396
This will be in the next release of `om`. Thanks for the PR @jghiloni !

[2019-08-16 16:42] #275 closed

[2019-08-16 16:42] kcboyle commented on #275
Thanks for the PR @jghiloni !

[2019-08-16 18:54] rszumlakowski commented on #408
Is there a reason that the `-build.nn` text is being left out of the filename?

[2019-08-16 21:45] #391 closed

[2019-08-19 19:42] kcboyle commented on #413
To rephrase, this is a request to allow `config-template` to take in a tile either from pivnet(current) or from a local .pivotal tile.

This solves the following issues:
- `config-template` cannot be used with isolation segment tiles, because the replication happens _after_ the pivnet download.
- (inferred) `config-template` cannot be used by teams doing local tile development, because their tiles

[2019-08-19 19:44] kcboyle commented on #398
@jvshahid a friendly bump for you on this thread! would like to know if this is still an issue, or if we can close this out

[2019-08-19 19:48] kcboyle commented on #384
@wjun @ohlookadollar would the solution that @nbconklin proposed solve this issue? We'd like to throw a `pr welcome` label on this. We have the story Nadja linked prioritized soon, but want to make sure that the solution we are implementing would solve your problem.

[2019-08-27 15:07] poligraph opened #415 "om config-template cannot get template from pivnet"
I am trying to get template for elastic runtime from Pivnet and got error for om-cli 3.1 and 3.0 on MacOS

`./om-darwin-3.0.0 config-template --output-directory cf --pivnet-api-token ${PIVNET_TOKEN} --pivnet-product-slug elastic-runtime --product-version 2.4.13 --product-file-glob cf*.pivotal`

error:
[code]

`./om-darwin-3.0.0 config-template --output-directory cf --pivnet-api-token ${PIVNET_TOKE

[2019-08-27 15:59] poligraph opened #416 "confusing arguments --product-file-glob and --pivnet-file-glob for different commands"
If I use command `om download-product` product command, it requires `--pivnet-file-glob` for file glob.

But if I use `om config-template` - it requires `--product-file-glob`

It's much better to use same naming for identical globs parameter, for example, `--pivnet-file-glob`

[2019-08-28 22:28] calebwashburn opened #418 "om interpolate. Error if both stdIn and -c flag are provided"
If both std input and -c flag are provided it should error to indicate both inputs are provided for template file.

[2019-08-29 05:08] jli1972 opened #419 "om version 3.2.0 or up failed in 'om staged-config', got 404 error"
could not execute "staged-config": request failed: unexpected response:
HTTP/1.1 404 Not Found
Connection: keep-alive
Content-Type: text/html; charset=UTF-8
Date: Thu, 29 Aug 2019 04:50:37 GMT
Server: nginx/1.10.3 (Ubuntu)
Strict-Transport-Security: max-age=15552000; includeSubDomains
X-Request-Id: df5b362a-df86-46e0-84c3-c8f0312a793a
X-Runtime: 0.001158
Content-Length: 0

[2019-08-29 14:14] weaverb commented on #419
We are also seeing this error with 3.2.1

[2019-08-29 16:34] tonyelmore opened #420 "Host_group is not exported for director"
If AZ definitions contain a host_group, the om staged-director-config does not export the host_group.

[2019-08-29 17:54] kcboyle commented on #420
@tonyelmore thanks for the issue!

Just as a quick verification question, you are using `staged-director-config` on an _already configured_ director, correct?

[2019-08-29 17:56] kcboyle commented on #418
makes sense to me. happy to accept a PR.

[2019-08-29 17:57] kcboyle commented on #398
@jvshahid, We're going to close this issue, due to inactivity since we have been unable to reproduce the problem. Please feel free to reopen if necessary!

[2019-08-29 17:57] #398 closed

[2019-08-29 17:58] kcboyle commented on #384
@wjun @ohlookadollar  bump on the question above!

[2019-08-29 21:14] kcboyle commented on #363
@brightzheng100

Can you go through the same procedure in the UI, and confirm a few things for us?
1) stage and configure all of your tiles
2) in the UI, apply changes to only one of those tiles(include disabling errands)
3) in the UI, apply changes to the other tile(include disabling errands)

do you get the same errors?

[2019-08-29 22:22] kcboyle commented on #419
Hi @weaverb !
What version of Ops Manager are you on? We ran a test of this on 2.3.25 and got the following response:
[code]

however, `om` takes this response and the error and will continue without actual failure (the only way we could check for the existence of the endpoint was to hit it. If the endpoint is not found, we continue without error) during the staged-config, and we were able to get

[2019-08-30 14:55] bgandon opened #421 "Former 'om revert-staged-changes' has no equivalent, as 'om unstage-product' actually plans a deletion of the product"
Hi,

In our Concourse automation pipelines that manage our sandbox, staging, and production PCF foundations, we were using the former `om revert-staged-changes` right before exporting Ops Man settings with `om export-installation`.

Exporting Ops Man settings is part of our backup plan, and we need it especially before actually upgrading Ops Man (which is a re-creation of the VM with a new image,

[2019-08-30 17:11] kcboyle commented on #419
this will be fixed in `om` 3.2.2 later today. Thank you for bringing this to our attention!

[2019-08-30 17:11] #419 closed

[2019-09-02 09:06] jli1972 commented on #419
confirm om-3.2.2 fixed this issue.

Thanks!

[2019-09-04 15:35] kcboyle commented on #416
merged! Thank you for the PR!

[2019-09-04 15:35] #416 closed

[2019-09-04 16:30] anEXPer commented on #400
Apologies for the circle, but we've discussed this further and arrived back where you started - explicitly setting `additional_vm_extensions` to `[]` should set the additional vm extensions for an instance group to `[]`, replacing any that might have been set.

The config file should be the source of truth on any subject it addresses. Thus, if `additional_vm_extensions` is set, whatever it is set

[2019-09-06 04:27] jli1972 opened #422 "om staged-config does not include all the configurations"
For example: p-redis

    .properties.small_plan_selector:
      value: Plan Active
  .properties.syslog_selector:
    value: Yes with TLS encryption

# missing the below
    .properties.small_plan_selector.active.az_single_select:
      value: "null"
    .properties.small_plan_selector.active.vm_type:
      value: Standard_DS1_v2
    .properties.small_plan_selector.active.disk_size:
      value:

[2019-09-06 15:01] jtarchie commented on #422
What version of OpsMan are you using? There was a known issue with OpsMan's API return payload that could not filter down selectors. It was fixed in 2.2.17+, 2.3.10+, 2.4.4+, etc.

In the release notes it read as:

[2019-09-06 15:11] kcboyle commented on #415
hi @poligraph !

The amazon support ticket came back and they told us they were no longer able to reproduce the issue. Can you confirm if you're able to use `config-template` again on your end?

[2019-09-06 15:58] jtarchie opened #423 "om should take advantage of go 1.13 error wrapping"
go 1.13 added support similar to error wrapping in https://github.com/pkg/errors
In `om`, where we create wrapped errors like
[code]
we can now return these errors like:
[code]

[2019-09-06 18:42] shahs16 opened #424 "Provide better notification for Apply Changes completion on Ops Manager Console"
When Ops Manager is running errands that takes long time, it is easy to context switch and forget that there was a change in progress. Provide flash notification for browser tab or a desktop notification when changes are complete - either fail or success instead of only a popup.

[2019-09-06 21:41] poligraph commented on #415
Hi @kcboyle . I was able to get configs from pivnet. Thanks. Closing issue.

[2019-09-06 21:41] #415 closed

[2019-09-09 17:08] nbconklin commented on #424
@shahs16 Are you asking for a change in the UI to make this more obvious, or is there something on the command line that we could do? `om` is not owned by the Ops Manager team. We want to make sure that we can point you in the right direction.

[2019-09-09 17:56] gregbarkerdcsg commented on #207
Any updates here? I recently encountered what I think is this issue when upgrading the Redis Enterprise tile. I had issues with the Broker Registrar errand where it was trying to create new plans with different GUIDs but the same plan names. I had to rename existing plans, let it create the new plans alongside the existing plans, and then migrate each service to the renamed plans. Then the broker

[2019-09-09 17:59] kcboyle commented on #424
Hi @shahs16! if this is a feature request for Ops Manager, we recommend submitting a [support ticket](https://pivotal.io/support) to get this feature added for consideration in Ops Manager, or talk to your local PA about this (if you have one).

[2019-09-09 17:59] #424 closed

[2019-09-09 18:03] kcboyle commented on #207
We're still discussing a way to do this. the problem with enforcing the GUID as we described above is that you could _not_ use the same config to re-configure a new env. This is not desired behavior.

We discussed potentially doing something like this (a proposal from the story in our tracker):
can `om` lookup the config for a nameless collection and do a comparison to see if there are any changes

[2019-09-09 18:10] kcboyle commented on #363
@brightzheng100  could you follow up on this for us? thanks!

[2019-09-09 18:11] kcboyle commented on #384
@wjun @ohlookadollar bump on the question above!

[2019-09-09 18:11] kcboyle commented on #420
@tonyelmore bump on the above please!

[2019-09-09 18:12] kcboyle commented on #355
Can we verify that `configure-director` can delete the vm_extensions as expected using the opsman configuration file?

[2019-09-09 18:18] kcboyle commented on #421
@bgandon
There are no plans in the immediate present to add this support back into `om`.
However, the team has talked to the ops manager team about potentially getting this API endpoint added. That said, if we can get the API support, there are no guarantees that this can backported to older versions of Ops Manager.

What kind of documentation changes are you proposing? We would be happy to add th

[2019-09-09 18:18] gregbarkerdcsg commented on #207
OM is the thing that causes the GUID issue. Manually changing within OpsMan UI does not. Is that accurate?
Therefore any PCF Platform Automation that deals with a collection could trigger this issue?

[2019-09-10 01:27] jli1972 commented on #422
I am using om version 3.2.2

[2019-09-10 04:30] jtarchie commented on #422
That is the version of `om` CLI.

OpsManager is the VM the at the `om` CLI interacts with. Can you confirm the version of OpsManager VM is one of the ones listed above?

[2019-09-10 17:08] jtarchie commented on #325
After some discussion, we've actually chosen to make the re-attachment to an `apply-changes` optional by the user.

If a user runs `apply-changes` from the CLI (#1), makes changes, and runs `apply-changes` again (#2).

* If #1 is still running, the #2 re-attaches to the currently running #1. From a CI standpoint, it is not clear that #2 never actually successfully ran.
* If #1 is done, then #2 run

[2019-09-10 17:12] #325 closed

[2019-09-11 00:45] jli1972 commented on #422
We are using opsman 2.3-build.212

[2019-09-11 01:28] jtarchie commented on #422
That is version 2.3.6 (https://network.pivotal.io/products/ops-manager/#/releases/250010).

The fix for this issue wasn’t introduced till 2.3.10 (https://network.pivotal.io/products/ops-manager/#/releases/299304).

[2019-09-17 14:24] kcboyle commented on #421
@bgandon do you have any documentation changes we can make as it stands at present?

We've started a conversation with the ops manager team to add revert-staged-changes to the API, which could then be supported in `om`, but there is nothing definite yet.

[2019-09-17 14:24] kcboyle commented on #363
@brightzheng100 another reminder to update on this issue please!

[2019-09-17 14:36] kcboyle commented on #355
ops manager errors as expected if you try to delete the extensions, but it is in use:
[code]

however, due to bug #400 , you cannot disassociate the additional_vm_extensions in order to properly delete all of the vm extensions using `[]`

If you remove an unused extension from the list, however, `configure-director` will properly remove the `vm_extension` as expected.

I'm going to close this issu

[2019-09-17 14:36] #355 closed

[2019-09-17 14:37] kcboyle commented on #400
We should treat the configuration file as the source of truth, as discussed in #355.
This is still a bug, and the fact that we cannot delete the `additional_vm_extensions` via the config means that deleting the `vm_extension` from the config is impossible (unless you disassociate the extension manually).

Pr welcome. Echoes from @anEXPer , apologies from going full circle on this!